{
	"openapi": "3.1.0",
	"info": {
		"title": "PostZen Public API",
		"version": "1.0.0",
		"description": "The PostZen Public API lets server-side integrations manage profiles, connected social accounts, OAuth connection flows, media uploads, post creation, and outbound webhooks."
	},
	"servers": [
		{
			"url": "https://api.postzen.dev",
			"description": "Production API"
		}
	],
	"security": [
		{
			"bearerAuth": []
		}
	],
	"tags": [
		{
			"name": "Profiles",
			"description": "List, create, update, and delete PostZen profiles."
		},
		{
			"name": "Accounts",
			"description": "List and disconnect connected social accounts."
		},
		{
			"name": "Connect",
			"description": "Start and complete OAuth account connection flows."
		},
		{
			"name": "Media",
			"description": "Create presigned upload URLs for PostZen-hosted media, or upload a small file directly."
		},
		{
			"name": "Posts",
			"description": "Create drafts, scheduled posts, or immediate posts, and read LinkedIn comments and reactions on published organization posts."
		},
		{
			"name": "Inbox",
			"description": "Read and moderate comments on Instagram, Facebook, and Threads posts. Every endpoint takes the connected account as `accountId` and identifies the post either by its PostZen post id or by the platform's own post/media id. Reads also refresh PostZen's stored copy of the thread. An account on any other platform returns `400 platformUnsupported`, and the write endpoints need the account's comment-management scope — reconnect the account when they answer `403 platformCapabilityMissing`. The conversation endpoints cover Instagram direct messages instead: they read PostZen’s synced copy of each thread, refresh it from the platform as a side effect, and keep read state and archive state locally because Meta exposes neither. Sending is bounded by Meta’s 24-hour reply window, which surfaces as `400 PLATFORM_LIMITATION`."
		},
		{
			"name": "Comment Automations",
			"description": "Instagram comment and story reply automations with private replies and delivery logs."
		},
		{
			"name": "Queues",
			"description": "Manage per-profile posting queues. A queue is a named weekly schedule (`slots` of `{ dayOfWeek, time }`) evaluated in the queue's own timezone. A profile may hold several queues and exactly one is the default. Creating a post with `queuedFromProfile` claims the next free slot inside a single transaction, which is what keeps concurrent creates from landing on the same instant."
		},
		{
			"name": "Analytics",
			"description": "Read post, engagement, follower, and posting-time analytics, and synchronize external posts."
		},
		{
			"name": "API Keys",
			"x-displayName": "API Keys",
			"description": "Manage PostZen API keys programmatically. Creating and deleting keys requires a read-write key with full profile access."
		},
		{
			"name": "Webhooks",
			"description": "Manage outbound webhook endpoints and retained delivery logs. PostZen sends an at-least-once JSON envelope `{ id, type, apiVersion, createdAt, data }` using `POST`; automatic retries and manual redeliveries keep the same event id and raw body. Requests include `X-PostZen-Event`, `X-PostZen-Event-Id`, `X-PostZen-Delivery-Id`, and `X-PostZen-Timestamp`. When a signing secret is configured, `X-PostZen-Signature` is `v1=<hex digest>` where the digest is HMAC-SHA256 over `<timestamp>.<raw request body>`. Production receivers should configure signing, compare signatures in constant time, reject timestamps older than five minutes, and deduplicate by event id."
		}
	],
	"paths": {
		"/v1/profiles": {
			"get": {
				"tags": [
					"Profiles"
				],
				"operationId": "listProfiles",
				"summary": "List profiles",
				"description": "Returns profiles available to the API key, sorted by creation date (oldest first). Read-only and read-write API keys are accepted.",
				"responses": {
					"200": {
						"description": "Profiles returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProfilesListResponse"
								},
								"example": {
									"profiles": [
										{
											"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
											"userId": "jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa",
											"name": "Marketing Team",
											"description": "Profile for marketing campaigns",
											"color": "#4caf50",
											"isDefault": false,
											"createdAt": "2026-06-13T16:00:00.000Z"
										}
									]
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"description": "Unexpected server error.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "Failed to list profiles"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Profiles"
				],
				"operationId": "createProfile",
				"summary": "Create a profile",
				"description": "Creates a profile. This endpoint requires a read-write API key with access to all profiles.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProfileCreateRequest"
							},
							"example": {
								"name": "Marketing Team",
								"description": "Profile for marketing campaigns",
								"color": "#4caf50"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Profile created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProfileWriteResponse"
								},
								"example": {
									"message": "Profile created successfully",
									"profile": {
										"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
										"userId": "jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa",
										"name": "Marketing Team",
										"description": "Profile for marketing campaigns",
										"color": "#4caf50",
										"isDefault": false,
										"createdAt": "2026-06-13T16:00:00.000Z"
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/profiles/{profileId}": {
			"parameters": [
				{
					"name": "profileId",
					"in": "path",
					"required": true,
					"description": "PostZen profile id.",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"tags": [
					"Profiles"
				],
				"operationId": "getProfile",
				"summary": "Get a profile",
				"description": "Returns a single profile visible to the API key.",
				"responses": {
					"200": {
						"description": "Profile returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProfileResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"put": {
				"tags": [
					"Profiles"
				],
				"operationId": "updateProfile",
				"summary": "Update a profile",
				"description": "Updates one or more profile fields. This endpoint requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProfileUpdateRequest"
							},
							"example": {
								"name": "Marketing Team (Updated)",
								"description": "Updated profile description",
								"color": "#2196f3",
								"isDefault": true
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Profile updated.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProfileWriteResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"delete": {
				"tags": [
					"Profiles"
				],
				"operationId": "deleteProfile",
				"summary": "Delete a profile",
				"description": "Deletes a profile. The default profile cannot be deleted, and profiles with connected accounts must be disconnected first.",
				"responses": {
					"200": {
						"description": "Profile deleted.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MessageResponse"
								},
								"example": {
									"message": "Profile deleted successfully"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/accounts": {
			"get": {
				"tags": [
					"Accounts"
				],
				"operationId": "listAccounts",
				"summary": "List accounts",
				"description": "Returns connected social accounts available to the API key, sorted by connection date (newest first). Read-only and read-write API keys are accepted.",
				"parameters": [
					{
						"name": "profileId",
						"in": "query",
						"description": "Filter accounts by profile id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "platform",
						"in": "query",
						"description": "Filter accounts by platform. `twitter` is accepted as an alias for `x`.",
						"schema": {
							"$ref": "#/components/schemas/PublicPlatformInput"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "`connected` returns healthy accounts. `disconnected` returns accounts that need reconnection or are disabled.",
						"schema": {
							"type": "string",
							"enum": [
								"connected",
								"disconnected"
							]
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "1-based page number. Must be provided with `limit`.",
						"schema": {
							"type": "integer",
							"minimum": 1
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size. Must be provided with `page`.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100
						}
					}
				],
				"responses": {
					"200": {
						"description": "Accounts returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccountsListResponse"
								},
								"example": {
									"accounts": [
										{
											"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
											"platform": "twitter",
											"providerAccountId": "1934567890123456789",
											"profileId": {
												"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
												"name": "Marketing Team",
												"slug": "marketing-team",
												"color": "#4caf50"
											},
											"username": "acme",
											"displayName": "Acme",
											"profileUrl": "https://x.com/acme",
											"status": "connected",
											"isActive": true,
											"connectedAt": "2026-06-13T16:00:00.000Z"
										}
									]
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/accounts/{accountId}": {
			"delete": {
				"tags": [
					"Accounts"
				],
				"operationId": "disconnectAccount",
				"summary": "Disconnect an account",
				"description": "Disconnects and removes a connected social account. Pending scheduled, queued, and publishing targets for that account are canceled. This endpoint requires a read-write API key.",
				"parameters": [
					{
						"name": "accountId",
						"in": "path",
						"required": true,
						"description": "PostZen account id.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Account disconnected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MessageResponse"
								},
								"example": {
									"message": "Account disconnected successfully"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/accounts/{accountId}/pinterest-boards": {
			"parameters": [
				{
					"name": "accountId",
					"in": "path",
					"required": true,
					"description": "PostZen id of a connected Pinterest account.",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"tags": [
					"Accounts"
				],
				"operationId": "getPinterestBoards",
				"summary": "List Pinterest boards",
				"description": "Lists boards owned by a connected Pinterest account. Read-only and read-write API keys are accepted.",
				"responses": {
					"200": {
						"description": "Pinterest boards returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PinterestBoardsResponse"
								},
								"example": {
									"boards": [
										{
											"id": "123456789012345678",
											"name": "Product inspiration",
											"description": "Ideas for upcoming launches",
											"privacy": "PUBLIC",
											"pinCount": 42
										}
									]
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"424": {
						"description": "The Pinterest account is no longer connected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "not_connected"
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"502": {
						"description": "Pinterest could not answer the request.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "request_failed"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"tags": [
					"Accounts"
				],
				"operationId": "createPinterestBoard",
				"summary": "Create Pinterest board",
				"description": "Creates a board for the connected Pinterest account. This endpoint requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PinterestCreateBoardRequest"
							},
							"example": {
								"name": "Product inspiration",
								"description": "Ideas for upcoming launches",
								"privacy": "PUBLIC"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Pinterest board created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PinterestBoardResponse"
								},
								"example": {
									"board": {
										"id": "123456789012345678",
										"name": "Product inspiration",
										"description": "Ideas for upcoming launches",
										"privacy": "PUBLIC"
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"424": {
						"description": "The Pinterest account is no longer connected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "not_connected"
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"502": {
						"description": "Pinterest could not create the board.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "request_failed"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"put": {
				"tags": [
					"Accounts"
				],
				"operationId": "updatePinterestBoards",
				"summary": "Set default Pinterest board",
				"description": "Verifies a Pinterest board and stores it as the account default used when a pin target omits `settings.boardId`. This endpoint requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PinterestDefaultBoardRequest"
							},
							"example": {
								"defaultBoardId": "123456789012345678",
								"defaultBoardName": "Product inspiration"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Default Pinterest board updated.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PinterestDefaultBoardResponse"
								},
								"example": {
									"message": "Default Pinterest board updated successfully",
									"account": {
										"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
										"platform": "pinterest",
										"providerAccountId": "987654321098765432",
										"profileId": {
											"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
											"name": "Marketing Team",
											"slug": "marketing-team",
											"color": "#4caf50"
										},
										"username": "acme",
										"displayName": "Acme",
										"status": "connected",
										"isActive": true,
										"connectedAt": "2026-06-19T16:00:00.000Z",
										"defaultBoardId": "123456789012345678",
										"defaultBoardName": "Product inspiration"
									}
								}
							}
						}
					},
					"400": {
						"description": "Invalid request or the selected board does not exist.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "board_not_found"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"424": {
						"description": "The Pinterest account is no longer connected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "not_connected"
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"502": {
						"description": "Pinterest could not verify the board.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "request_failed"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/connect/pinterest/select-board": {
			"get": {
				"tags": [
					"Connect"
				],
				"operationId": "listPinterestBoardsForSelection",
				"summary": "List Pinterest boards for the connect flow",
				"description": "Lists boards after Pinterest OAuth completes so the client can show a board picker. The state handle remains valid for board selection for 30 minutes from connect-flow creation. This endpoint requires a read-write API key.",
				"parameters": [
					{
						"name": "state",
						"in": "query",
						"required": true,
						"description": "State token returned by `GET /v1/connect/pinterest`.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Pinterest boards returned for selection.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PinterestBoardsResponse"
								},
								"example": {
									"boards": [
										{
											"id": "123456789012345678",
											"name": "Product inspiration",
											"privacy": "PUBLIC"
										}
									]
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"description": "The connect session was not found.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "connect_session_not_found"
								}
							}
						}
					},
					"409": {
						"description": "Pinterest OAuth has not completed for this connect session.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "connect_not_completed"
								}
							}
						}
					},
					"410": {
						"description": "The connect session is too old for board selection.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "connect_session_expired"
								}
							}
						}
					},
					"424": {
						"description": "The connected Pinterest account is no longer available.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "not_connected"
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"502": {
						"description": "Pinterest could not answer the request.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "request_failed"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"tags": [
					"Connect"
				],
				"operationId": "selectPinterestBoard",
				"summary": "Select Pinterest board",
				"description": "Verifies and stores the default board for the Pinterest account created by the connect session. This endpoint requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PinterestSelectBoardRequest"
							},
							"example": {
								"state": "3q2Xv8Zk1mR5tY7wA9bC4dE6",
								"boardId": "123456789012345678",
								"boardName": "Product inspiration",
								"redirectUrl": "https://example.com/connect/complete"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Pinterest board selected and stored as the account default.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PinterestSelectBoardResponse"
								},
								"example": {
									"message": "Pinterest connected successfully with default board",
									"account": {
										"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
										"platform": "pinterest",
										"providerAccountId": "987654321098765432",
										"profileId": {
											"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
											"name": "Marketing Team",
											"slug": "marketing-team",
											"color": "#4caf50"
										},
										"username": "acme",
										"displayName": "Acme",
										"status": "connected",
										"isActive": true,
										"connectedAt": "2026-06-19T16:00:00.000Z",
										"defaultBoardId": "123456789012345678",
										"defaultBoardName": "Product inspiration"
									},
									"redirectUrl": "https://example.com/connect/complete?connected=pinterest&profileId=jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e&board=Product+inspiration"
								}
							}
						}
					},
					"400": {
						"description": "Invalid request or the selected board does not exist.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "board_not_found"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"description": "The connect session was not found.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "connect_session_not_found"
								}
							}
						}
					},
					"409": {
						"description": "Pinterest OAuth has not completed for this connect session.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "connect_not_completed"
								}
							}
						}
					},
					"410": {
						"description": "The connect session is too old for board selection.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "connect_session_expired"
								}
							}
						}
					},
					"424": {
						"description": "The connected Pinterest account is no longer available.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "not_connected"
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"502": {
						"description": "Pinterest could not verify the board.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "request_failed"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/connect/{platform}": {
			"parameters": [
				{
					"name": "platform",
					"in": "path",
					"required": true,
					"description": "Social platform to connect. `twitter` is accepted as an alias for `x`.",
					"schema": {
						"$ref": "#/components/schemas/PublicPlatformInput"
					}
				}
			],
			"get": {
				"tags": [
					"Connect"
				],
				"operationId": "createConnectUrl",
				"summary": "Create an OAuth connect URL",
				"description": "Initiates an OAuth connection flow and returns an authorization URL to redirect the user to. The OAuth state expires after 10 minutes. This endpoint requires a read-write API key.\n\nFor `bluesky`, the returned `authUrl` is a PostZen-hosted page where the user enters their Bluesky handle and app password (no developer app or OAuth redirect is required); the connection completes when they submit that form.\n\nFor `telegram`, the returned `authUrl` is a PostZen-hosted page that issues a short-lived access code (there is no OAuth grant and no Telegram authorization screen); the connection completes when the user adds @PostZenScheduleBot as an administrator of a channel or group and sends that code to the bot.",
				"parameters": [
					{
						"name": "profileId",
						"in": "query",
						"required": true,
						"description": "PostZen profile id to attach the connected account to.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "redirectUrl",
						"in": "query",
						"description": "Custom URL PostZen redirects to after the connection completes.",
						"schema": {
							"type": "string",
							"format": "uri"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OAuth URL created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectStartResponse"
								},
								"example": {
									"authUrl": "https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=86xk2ab9cdef01&state=3q2Xv8Zk1mR5tY7wA9bC4dE6&scope=openid%20profile%20w_member_social%20email",
									"state": "3q2Xv8Zk1mR5tY7wA9bC4dE6"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"$ref": "#/components/responses/PaymentRequired"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"tags": [
					"Connect"
				],
				"operationId": "completeConnect",
				"summary": "Complete an OAuth connection",
				"description": "Exchanges an OAuth authorization code for tokens and connects the account to the specified profile. This endpoint requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ConnectCompleteRequest"
							},
							"example": {
								"code": "AQTF0v6PZnq1yTkGxg3M4S8d",
								"state": "3q2Xv8Zk1mR5tY7wA9bC4dE6",
								"profileId": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Account connected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectCompleteResponse"
								},
								"example": {
									"message": "Account connected successfully",
									"platform": "twitter",
									"profileId": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
									"status": "connected",
									"accounts": [
										{
											"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
											"platform": "twitter",
											"providerAccountId": "1934567890123456789",
											"profileId": {
												"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
												"name": "Marketing Team",
												"slug": "marketing-team",
												"color": "#4caf50"
											},
											"username": "acme",
											"displayName": "Acme",
											"status": "connected",
											"isActive": true,
											"connectedAt": "2026-06-19T16:00:00.000Z"
										}
									]
								}
							}
						}
					},
					"400": {
						"description": "Invalid request, expired OAuth state, or a failed platform callback. Callback failures return a camelCase error code with an optional `errorDescription`.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectCompleteErrorResponse"
								},
								"example": {
									"error": "oauthCallbackFailed",
									"errorDescription": "OAuth callback did not complete a matching platform connection"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"$ref": "#/components/responses/PaymentRequired"
					},
					"403": {
						"description": "The API key does not have access to the profile, or the OAuth state belongs to a different user or profile.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectCompleteErrorResponse"
								},
								"example": {
									"error": "oauthStateUserMismatch"
								}
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"description": "The platform token exchange failed or an unexpected server error occurred.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectCompleteErrorResponse"
								},
								"example": {
									"error": "linkedinOauthFailed"
								}
							}
						}
					}
				}
			}
		},
		"/v1/media/presign": {
			"post": {
				"tags": [
					"Media"
				],
				"operationId": "createMediaPresign",
				"summary": "Create a presigned media upload URL",
				"description": "Creates a presigned URL for uploading an image, video, GIF, or PDF to PostZen-hosted storage. Upload the file with an HTTP `PUT` to `uploadUrl`, then reference `publicUrl` in post `mediaItems`. This endpoint requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MediaPresignRequest"
							},
							"example": {
								"filename": "launch-video.mp4",
								"contentType": "video/mp4",
								"size": 10485760
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Presigned upload URL created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MediaPresignResponse"
								},
								"example": {
									"uploadUrl": "https://postzen-media.a1b2c3d4e5f6a7b8.r2.cloudflarestorage.com/users/jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa/media/6f0d0296-6a1c-4d5b-9a2e-3f8c1b7d4e90/launch-video.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=f3ac1e2b",
									"publicUrl": "https://media.postzen.dev/users/jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa/media/6f0d0296-6a1c-4d5b-9a2e-3f8c1b7d4e90/launch-video.mp4",
									"key": "users/jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa/media/6f0d0296-6a1c-4d5b-9a2e-3f8c1b7d4e90/launch-video.mp4",
									"type": "video"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/media/upload-direct": {
			"post": {
				"tags": [
					"Media"
				],
				"operationId": "uploadMediaDirect",
				"summary": "Upload a file directly",
				"description": "Uploads a file in the request itself and returns a public URL, for cases where a two-step presign is inconvenient and the file is small — chiefly direct message attachments, where Meta fetches the URL itself. The stored object is deleted automatically after seven days, so it is not a substitute for `POST /v1/media/presign` when publishing posts. Maximum 25MB. Requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"required": [
									"file"
								],
								"properties": {
									"file": {
										"type": "string",
										"format": "binary",
										"description": "The file bytes. Image, video, audio, or PDF, up to 25MB."
									},
									"contentType": {
										"type": "string",
										"description": "MIME type override, for clients that cannot set the part's own Content-Type."
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "File stored.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MediaDirectUploadResponse"
								},
								"example": {
									"url": "https://media.postzen.dev/direct-uploads/0001787068800000-6f0d0296-6a1c-4d5b-9a2e-3f8c1b7d4e90/receipt.jpg",
									"filename": "receipt.jpg",
									"contentType": "image/jpeg",
									"size": 184320
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/posts/bulk-upload": {
			"post": {
				"tags": [
					"Posts"
				],
				"operationId": "bulkUploadPosts",
				"summary": "Bulk upload posts from CSV",
				"description": "Validates and creates up to 500 posts from a CSV file. This endpoint requires a read-write API key. Each data row targets every connected account for the selected platforms on one profile. Set `dryRun=true` to validate without checking the Free plan's monthly post allowance, ingesting media, or writing data. A non-dry-run upload is rejected with HTTP 402 before creating any rows if its publishable targets would exceed that allowance. A mixed success/failure response uses HTTP 207; all-success and all-failure responses use HTTP 200.\n\n| CSV column | Purpose |\n| --- | --- |\n| `post_content` | Required base post text. |\n| `platforms` | Required comma-separated platforms: `instagram`, `facebook`, `threads`, `tiktok`, `linkedin`, `x`, `youtube`, `pinterest`, `bluesky`, or `telegram`; `twitter` aliases `x`. |\n| `profiles` | Required single profile id or unique profile name. |\n| `schedule_time` | Required column. Use `YYYY-MM-DD HH:mm[:ss]` in `tz`, or ISO 8601 with an explicit offset. May be empty for draft, publish-now, or queue rows. |\n| `tz` | IANA timezone; defaults to `UTC`. |\n| `media_urls` | Comma-separated HTTP(S) URLs, up to 10 per row and 50 distinct URLs per upload. |\n| `is_draft`, `publish_now`, `use_queue` | Mutually exclusive boolean mode flags. With none set, the row is scheduled. |\n| `title`, `tags`, `hashtags`, `mentions`, `visibility` | General title, comma-separated tags, appended hashtags/mentions, and YouTube visibility. |\n| `custom_content_<platform>` | Platform-specific content override; `custom_content_twitter` targets X. |\n| `youtube_title`, `youtube_description` | YouTube title and description override. |\n| `facebook_first_comment`, `linkedin_first_comment` | First comments. |\n| `instagram_content_type`, `instagram_collaborators`, `instagram_first_comment` | Instagram post type, collaborators, and first comment. |\n| `tiktok_privacy`, `tiktok_allow_comments`, `tiktok_allow_duet`, `tiktok_allow_stitch`, `tiktok_brand_partner`, `tiktok_organic_brand`, `tiktok_draft`, `tiktok_description` | TikTok publishing options. |\n| `telegram_parse_mode`, `telegram_disable_web_page_preview`, `telegram_disable_notification`, `telegram_protect_content` | Telegram publishing options. |\n| `pinterest_title`, `pinterest_link`, `pinterest_board_id`, `pinterest_cover_image_url`, `pinterest_cover_image_key_frame_time` | Pinterest pin options, including alternative video cover selections. |",
				"parameters": [
					{
						"name": "dryRun",
						"in": "query",
						"description": "Validate every row without checking the monthly post allowance, ingesting media, or creating posts.",
						"schema": {
							"type": "boolean",
							"default": false
						}
					},
					{
						"name": "x-request-id",
						"in": "header",
						"description": "Optional upload idempotency key. Each row derives the stable key `bulk-api:{x-request-id}:{1-based row index}`.",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"required": [
									"file"
								],
								"properties": {
									"file": {
										"type": "string",
										"format": "binary",
										"description": "UTF-8 CSV file, maximum 2 MiB."
									}
								}
							}
						},
						"text/csv": {
							"schema": {
								"type": "string",
								"description": "Raw UTF-8 CSV body, maximum 2 MiB."
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Every row succeeded, or every row failed validation.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BulkUploadResult"
								}
							}
						}
					},
					"207": {
						"description": "The upload contains both successful and failed rows.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BulkUploadResult"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"$ref": "#/components/responses/PaymentRequired"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					}
				}
			}
		},
		"/v1/posts": {
			"get": {
				"tags": [
					"Posts"
				],
				"operationId": "listPosts",
				"summary": "List posts",
				"description": "Returns posts created for the profiles available to the API key, newest first. Read-only and read-write API keys are accepted. Published posts include a `platformPostUrl` for each published platform target. Results are capped to the 1000 most recent matching posts.",
				"parameters": [
					{
						"name": "profileId",
						"in": "query",
						"description": "Filter posts by profile id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "accountId",
						"in": "query",
						"description": "Filter posts to those targeting a specific connected account.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "platform",
						"in": "query",
						"description": "Filter posts to those with a target on this platform. `twitter` is accepted as an alias for `x`.",
						"schema": {
							"$ref": "#/components/schemas/PublicPlatformInput"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "Filter posts by status.",
						"schema": {
							"type": "string",
							"enum": [
								"draft",
								"scheduled",
								"queued",
								"publishing",
								"published",
								"partially_failed",
								"failed",
								"canceled"
							]
						}
					},
					{
						"name": "dateFrom",
						"in": "query",
						"description": "Only include posts scheduled on or after this ISO 8601 timestamp. Posts without a scheduled time are excluded when a date filter is supplied.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "dateTo",
						"in": "query",
						"description": "Only include posts scheduled on or before this ISO 8601 timestamp. Posts without a scheduled time are excluded when a date filter is supplied.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "sortBy",
						"in": "query",
						"description": "Sort order. `createdAt` sorts by creation time (newest first). `scheduledFor` sorts by scheduled time (newest first) and excludes posts without a scheduled time.",
						"schema": {
							"type": "string",
							"enum": [
								"createdAt",
								"scheduledFor"
							],
							"default": "createdAt"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "1-based page number. Defaults to 1.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size. Defaults to 20.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 20
						}
					}
				],
				"responses": {
					"200": {
						"description": "Posts returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PostsListResponse"
								},
								"example": {
									"posts": [
										{
											"_id": "jx58t2kqm4wr9v3n7c1zp6bs0dh5fg8y",
											"title": "Launch post",
											"content": "We shipped the new release.",
											"status": "published",
											"scheduledFor": null,
											"timezone": "UTC",
											"platforms": [
												{
													"platform": "twitter",
													"accountId": {
														"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
														"platform": "twitter",
														"username": "acme",
														"displayName": "Acme",
														"isActive": true
													},
													"status": "published",
													"platformPostUrl": "https://x.com/acme/status/1934567890123456789"
												}
											]
										}
									],
									"pagination": {
										"page": 1,
										"limit": 20,
										"total": 1,
										"totalPages": 1
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					}
				}
			},
			"post": {
				"tags": [
					"Posts"
				],
				"operationId": "createPost",
				"summary": "Create a post",
				"description": "Creates a draft, scheduled post, or immediate post. This endpoint requires a read-write API key. Provide exactly one creation mode: `publishNow`, `scheduledFor`, or `isDraft`.",
				"parameters": [
					{
						"name": "x-request-id",
						"in": "header",
						"description": "Optional idempotency key. Repeating the same value returns the original post instead of creating a new one.",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreatePostRequest"
							},
							"example": {
								"title": "Launch post",
								"content": "We shipped the new release.",
								"publishNow": true,
								"platforms": [
									{
										"platform": "twitter",
										"accountId": "1934567890123456789"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotency replay.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreatePostReplayResponse"
								},
								"example": {
									"existingPost": {
										"_id": "jx58t2kqm4wr9v3n7c1zp6bs0dh5fg8y",
										"title": "Launch post",
										"content": "We shipped the new release.",
										"status": "published",
										"scheduledFor": null,
										"timezone": "UTC",
										"platforms": []
									},
									"message": "Post already exists for this request id"
								}
							}
						}
					},
					"201": {
						"description": "Post created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreatePostResponse"
								},
								"example": {
									"post": {
										"_id": "jx58t2kqm4wr9v3n7c1zp6bs0dh5fg8y",
										"title": "Launch post",
										"content": "We shipped the new release.",
										"status": "published",
										"scheduledFor": null,
										"timezone": "UTC",
										"platforms": [
											{
												"platform": "twitter",
												"accountId": {
													"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
													"platform": "twitter",
													"username": "acme",
													"displayName": "Acme",
													"isActive": true
												},
												"status": "published",
												"platformPostUrl": "https://x.com/acme/status/1934567890123456789"
											}
										]
									},
									"message": "Post published successfully"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"$ref": "#/components/responses/PaymentRequired"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/posts/{postId}": {
			"parameters": [
				{
					"name": "postId",
					"in": "path",
					"required": true,
					"description": "PostZen post id.",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"tags": [
					"Posts"
				],
				"operationId": "getPost",
				"summary": "Get a post",
				"description": "Returns one post when it belongs to a profile available to the API key. Missing and inaccessible posts both return 404.",
				"responses": {
					"200": {
						"description": "Post returned.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": [
										"post"
									],
									"properties": {
										"post": {
											"$ref": "#/components/schemas/ApiPost"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					}
				}
			},
			"put": {
				"tags": [
					"Posts"
				],
				"operationId": "updatePost",
				"summary": "Update a post",
				"description": "Updates an editable post. Every body field is optional; omitted fields keep their current values, and omitting all timing fields keeps the current scheduling and draft status. At most one of `publishNow`, `scheduledFor`, `isDraft`, or `queuedFromProfile` may select a new timing mode.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreatePostRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Post updated.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UpdatePostResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"$ref": "#/components/responses/PaymentRequired"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"409": {
						"$ref": "#/components/responses/Conflict"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					}
				}
			},
			"delete": {
				"tags": [
					"Posts"
				],
				"operationId": "deletePost",
				"summary": "Delete a post",
				"description": "Deletes a draft, scheduled, queued, failed, partially failed, or canceled post. Published and publishing posts cannot be deleted.",
				"responses": {
					"200": {
						"description": "Post deleted.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": [
										"message"
									],
									"properties": {
										"message": {
											"type": "string",
											"const": "Post deleted successfully"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"409": {
						"$ref": "#/components/responses/Conflict"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					}
				}
			}
		},
		"/v1/posts/{postId}/comments": {
			"parameters": [
				{
					"name": "postId",
					"in": "path",
					"required": true,
					"description": "PostZen post id. The LinkedIn post URN is not accepted here.",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"tags": [
					"Posts"
				],
				"operationId": "listPostComments",
				"summary": "List comments on a LinkedIn post",
				"description": "Returns the comments LinkedIn holds for a post published through PostZen. LinkedIn only, and organization (company page) posts only. The post's LinkedIn connection must hold `r_organization_social_feed`, which LinkedIn ships with its Community Management API product — reconnect the account if it was connected before company-page posting was enabled. A personal (member) post always returns `403 personalPostUnsupported`: reading a member's own comments and reactions needs `r_member_social_feed`, which LinkedIn grants to select developers only. Read-only and read-write API keys are accepted.",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Restrict the lookup to one LinkedIn target when the post was published to several LinkedIn accounts. PostZen account id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Opaque pagination cursor. Pass the `nextCursor` from the previous response to fetch the next page.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					}
				],
				"responses": {
					"200": {
						"description": "Comments returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInCommentsResponse"
								},
								"example": {
									"comments": [
										{
											"id": "7123456789012345679",
											"commentUrn": "urn:li:comment:(urn:li:share:7123456789012345678,7123456789012345679)",
											"text": "Congratulations on the launch!",
											"authorUrn": "urn:li:person:AbC1dEfGhI",
											"authorName": "Jane Doe",
											"createdAt": "2026-07-29T16:04:11.000Z",
											"likeCount": 4,
											"replyCount": 1
										}
									],
									"nextCursor": "25"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The post was authored by a member rather than a company page (`personalPostUnsupported`), the API key cannot access the post's profile (`forbidden`), organization engagement reads are disabled on the deployment (`orgScopesDisabled`), or the connection is missing `r_organization_social_feed` (`platformCapabilityMissing`).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn only exposes comments and reactions for organization-authored posts. Publish with a LinkedIn company page to read engagement back.",
									"code": "personalPostUnsupported",
									"platform": "linkedin"
								}
							}
						}
					},
					"404": {
						"description": "No post exists with the given id, it is not visible to this API key, or it has no LinkedIn target.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "Not found",
									"code": "notFound",
									"platform": "linkedin"
								}
							}
						}
					},
					"409": {
						"description": "The post's LinkedIn target has not published yet, so it has no URN to read engagement for.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "This post has not been published to LinkedIn yet",
									"code": "postNotPublished",
									"platform": "linkedin"
								}
							}
						}
					},
					"424": {
						"description": "The LinkedIn account behind the post is no longer connected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "The LinkedIn account for this post is no longer connected",
									"code": "notConnected",
									"platform": "linkedin"
								}
							}
						}
					},
					"429": {
						"description": "LinkedIn rate limited the upstream request. PostZen's own per-account rate limiter also returns `429`, with `{\"error\":\"rate_limited\"}` and a `Retry-After` header.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn rate limited this request. Retry later.",
									"code": "rateLimited",
									"platform": "linkedin"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "LinkedIn could not answer the request.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn could not answer this request",
									"code": "requestFailed",
									"platform": "linkedin"
								}
							}
						}
					}
				}
			}
		},
		"/v1/posts/{postId}/reactions": {
			"parameters": [
				{
					"name": "postId",
					"in": "path",
					"required": true,
					"description": "PostZen post id. The LinkedIn post URN is not accepted here.",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"tags": [
					"Posts"
				],
				"operationId": "listPostReactions",
				"summary": "List reactions on a LinkedIn post",
				"description": "Returns the individual reactions LinkedIn holds for a post published through PostZen, plus a per-type count of the returned page. LinkedIn only, and organization (company page) posts only. The post's LinkedIn connection must hold `r_organization_social_feed`, which LinkedIn ships with its Community Management API product — reconnect the account if it was connected before company-page posting was enabled. A personal (member) post always returns `403 personalPostUnsupported`: reading a member's own comments and reactions needs `r_member_social_feed`, which LinkedIn grants to select developers only. Read-only and read-write API keys are accepted.",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Restrict the lookup to one LinkedIn target when the post was published to several LinkedIn accounts. PostZen account id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Opaque pagination cursor. Pass the `nextCursor` from the previous response to fetch the next page.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					}
				],
				"responses": {
					"200": {
						"description": "Reactions returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInReactionsResponse"
								},
								"example": {
									"reactions": [
										{
											"reactionType": "LIKE",
											"actorUrn": "urn:li:person:AbC1dEfGhI",
											"createdAt": "2026-07-29T16:02:47.000Z"
										},
										{
											"reactionType": "PRAISE",
											"actorUrn": "urn:li:person:JkL2mNoPqR",
											"createdAt": "2026-07-29T16:03:02.000Z"
										}
									],
									"totalsByType": {
										"LIKE": 1,
										"PRAISE": 1
									},
									"nextCursor": "25"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The post was authored by a member rather than a company page (`personalPostUnsupported`), the API key cannot access the post's profile (`forbidden`), organization engagement reads are disabled on the deployment (`orgScopesDisabled`), or the connection is missing `r_organization_social_feed` (`platformCapabilityMissing`).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn only exposes comments and reactions for organization-authored posts. Publish with a LinkedIn company page to read engagement back.",
									"code": "personalPostUnsupported",
									"platform": "linkedin"
								}
							}
						}
					},
					"404": {
						"description": "No post exists with the given id, it is not visible to this API key, or it has no LinkedIn target.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "Not found",
									"code": "notFound",
									"platform": "linkedin"
								}
							}
						}
					},
					"409": {
						"description": "The post's LinkedIn target has not published yet, so it has no URN to read engagement for.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "This post has not been published to LinkedIn yet",
									"code": "postNotPublished",
									"platform": "linkedin"
								}
							}
						}
					},
					"424": {
						"description": "The LinkedIn account behind the post is no longer connected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "The LinkedIn account for this post is no longer connected",
									"code": "notConnected",
									"platform": "linkedin"
								}
							}
						}
					},
					"429": {
						"description": "LinkedIn rate limited the upstream request. PostZen's own per-account rate limiter also returns `429`, with `{\"error\":\"rate_limited\"}` and a `Retry-After` header.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn rate limited this request. Retry later.",
									"code": "rateLimited",
									"platform": "linkedin"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "LinkedIn could not answer the request.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn could not answer this request",
									"code": "requestFailed",
									"platform": "linkedin"
								}
							}
						}
					}
				}
			}
		},
		"/v1/inbox/comments/{postId}": {
			"parameters": [
				{
					"name": "postId",
					"in": "path",
					"required": true,
					"description": "Post the comments belong to. Accepts a PostZen post id — resolved to the id the post was published under for `accountId` — or the platform's own post/media id, which is the common case because the inbox covers every post the account has, not only the ones PostZen published. Instagram and Facebook also accept a comment id here.",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"tags": [
					"Inbox"
				],
				"operationId": "listInboxPostComments",
				"summary": "List comments on a post",
				"description": "Returns the comments the platform holds for one Instagram, Facebook, or Threads post, and refreshes PostZen's stored copy of the thread as a side effect. `replies` carries the first page of nested replies when the platform returns them cheaply — `repliesHasMore` says when it did not, and passing that comment's id as `commentId` pages through the rest. Instagram threads are only two levels deep, so a reply never carries replies of its own. Fields a platform does not report are absent rather than zero: Threads, for example, never reports per-reply like counts. Read-only and read-write API keys are accepted.",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"required": true,
						"description": "PostZen account id of the connected Instagram, Facebook, or Threads account that owns the post.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size. Platform page ceilings may return fewer.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Opaque pagination cursor. Pass `pagination.cursor` from the previous response to fetch the next page.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "commentId",
						"in": "query",
						"description": "Return the replies to this comment instead of the post's own comments.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Comments returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxCommentsResponse"
								},
								"example": {
									"status": "success",
									"comments": [
										{
											"id": "17912345678901234",
											"message": "Love this one!",
											"createdTime": "2026-08-17T14:22:08.000Z",
											"from": {
												"id": "17841400000000000",
												"name": "Jane Doe",
												"username": "janedoe",
												"isOwner": false
											},
											"likeCount": 3,
											"replyCount": 1,
											"platform": "instagram",
											"url": "https://www.instagram.com/p/CxYzAbCdEfG/c/17912345678901234/",
											"replies": [
												{
													"id": "17912345678901299",
													"message": "Thank you!",
													"createdTime": "2026-08-17T14:41:52.000Z",
													"from": {
														"id": "17841411111111111",
														"username": "postzenhq",
														"isOwner": true
													},
													"platform": "instagram",
													"replies": [],
													"repliesHasMore": false,
													"canReply": true,
													"canDelete": true,
													"canHide": true,
													"isHidden": false,
													"parentId": "17912345678901234"
												}
											],
											"repliesHasMore": false,
											"canReply": true,
											"canDelete": true,
											"canHide": true,
											"isHidden": false,
											"parentId": null
										}
									],
									"pagination": {
										"hasMore": true,
										"cursor": "QVFIUkxsdGx..."
									},
									"meta": {
										"platform": "instagram",
										"postId": "17895695668004550",
										"accountId": "k17d8s9f0a1b2c3d4e5f6g7h8i",
										"lastUpdated": "2026-08-18T09:15:00.000Z"
									}
								}
							}
						}
					},
					"400": {
						"description": "A parameter is missing or malformed — a plain `{ error }` body — or the account is not on a platform the inbox supports (`platformUnsupported`). A platform-rejected identifier or parameter also lands here, with `platformError` carrying the platform's wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "The inbox supports Instagram, Facebook and Threads accounts only.",
									"code": "platformUnsupported",
									"platform": "tiktok"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The account is outside the API key's profile access (`forbidden`), or the platform refused the token because the connection lacks the scope this read needs (`platformCapabilityMissing`).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Reconnect the account to grant PostZen access to its comments.",
									"code": "platformCapabilityMissing",
									"platform": "facebook"
								}
							}
						}
					},
					"404": {
						"description": "No such account (`accountNotFound`), no such post for that account (`postNotFound`), the PostZen post has not published to this account yet (`postNotPublished`), or the platform reported the comment as missing.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "That post could not be found.",
									"code": "postNotFound"
								}
							}
						}
					},
					"424": {
						"description": "The account's connection is dead and must be reauthorized before its comments can be read or written.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "This connection needs to be reauthorized before its comments can be read.",
									"code": "connectionDead",
									"platform": "instagram"
								}
							}
						}
					},
					"429": {
						"description": "The platform rate limited the upstream request; `platformError` carries its wording and `Retry-After` gives the wait in seconds. PostZen's own per-key and per-operation limiters also return `429`, with the plain body `{\"error\":\"rate_limited\",\"retryAfter\":<seconds>}`.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "(#4) Application request limit reached",
									"code": "4",
									"platform": "instagram",
									"platformError": "(#4) Application request limit reached"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "The platform could not answer the request. `platformError` carries its wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Unsupported get request.",
									"code": "100",
									"platform": "facebook",
									"platformError": "Unsupported get request."
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Inbox"
				],
				"operationId": "replyToInboxPost",
				"summary": "Comment on a post or reply to a comment",
				"description": "Publishes a comment on the post, or a reply to `commentId` when one is given. Requires a read-write API key and the account's comment-management scope; without the scope the call answers `403 platformCapabilityMissing` and nothing is sent to the platform. `attachmentUrl` is Facebook only — every other platform rejects it with `400 attachmentUnsupported`. Instagram is two levels deep, so replying to a reply is redirected to that reply's top-level parent. A Threads reply is created as a container and then published; when the publish is still pending after PostZen's internal retries the call returns `502 publishPending` and the reply may still appear on its own, so check the thread before retrying rather than posting twice.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InboxReplyRequest"
							},
							"example": {
								"accountId": "k17d8s9f0a1b2c3d4e5f6g7h8i",
								"message": "Thank you!",
								"commentId": "17912345678901234"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Comment published.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxReplyResponse"
								},
								"example": {
									"success": true,
									"data": {
										"commentId": "17912345678901299",
										"isReply": true
									}
								}
							}
						}
					},
					"400": {
						"description": "A parameter is missing or malformed — a plain `{ error }` body — the account is not on a platform the inbox supports (`platformUnsupported`), or `attachmentUrl` was sent for a platform other than Facebook (`attachmentUnsupported`). A platform-rejected identifier or parameter also lands here, with `platformError` carrying the platform's wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "attachmentUrl is supported for Facebook comments only.",
									"code": "attachmentUnsupported",
									"platform": "instagram"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The API key is read-only, the account is outside its profile access (`forbidden`), or the connection is missing the account's comment-management scope (`platformCapabilityMissing`) — nothing is sent to the platform in that case.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Reconnect the account to grant PostZen access to its comments.",
									"code": "platformCapabilityMissing",
									"platform": "facebook"
								}
							}
						}
					},
					"404": {
						"description": "No such account (`accountNotFound`), no such post for that account (`postNotFound`), the PostZen post has not published to this account yet (`postNotPublished`), or the platform reported the comment as missing.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "That post could not be found.",
									"code": "postNotFound"
								}
							}
						}
					},
					"424": {
						"description": "The account's connection is dead and must be reauthorized before its comments can be read or written.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "This connection needs to be reauthorized before its comments can be read.",
									"code": "connectionDead",
									"platform": "instagram"
								}
							}
						}
					},
					"429": {
						"description": "The platform rate limited the upstream request; `platformError` carries its wording and `Retry-After` gives the wait in seconds. PostZen's own per-key and per-operation limiters also return `429`, with the plain body `{\"error\":\"rate_limited\",\"retryAfter\":<seconds>}`.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "(#4) Application request limit reached",
									"code": "4",
									"platform": "instagram",
									"platformError": "(#4) Application request limit reached"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "The platform could not answer the request. `platformError` carries its wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Unsupported get request.",
									"code": "100",
									"platform": "facebook",
									"platformError": "Unsupported get request."
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Inbox"
				],
				"operationId": "deleteInboxComment",
				"summary": "Delete a comment",
				"description": "Deletes a comment. Requires a read-write API key and the account's comment-management scope. `canDelete` on the comment says whether the platform allows it: Facebook reports it per comment, and Threads only allows deleting replies the connected account itself wrote.",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"required": true,
						"description": "PostZen account id of the connected Instagram, Facebook, or Threads account that owns the post.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "commentId",
						"in": "query",
						"required": true,
						"description": "Platform id of the comment to delete.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Comment deleted.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxActionResponse"
								},
								"example": {
									"success": true,
									"data": {
										"message": "Comment deleted"
									}
								}
							}
						}
					},
					"400": {
						"description": "A parameter is missing or malformed — a plain `{ error }` body — or the account is not on a platform the inbox supports (`platformUnsupported`). A platform-rejected identifier or parameter also lands here, with `platformError` carrying the platform's wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "The inbox supports Instagram, Facebook and Threads accounts only.",
									"code": "platformUnsupported",
									"platform": "tiktok"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The API key is read-only, the account is outside its profile access (`forbidden`), or the connection is missing the account's comment-management scope (`platformCapabilityMissing`) — nothing is sent to the platform in that case.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Reconnect the account to grant PostZen access to its comments.",
									"code": "platformCapabilityMissing",
									"platform": "facebook"
								}
							}
						}
					},
					"404": {
						"description": "No such account (`accountNotFound`), no such post for that account (`postNotFound`), the PostZen post has not published to this account yet (`postNotPublished`), or the platform reported the comment as missing.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "That post could not be found.",
									"code": "postNotFound"
								}
							}
						}
					},
					"424": {
						"description": "The account's connection is dead and must be reauthorized before its comments can be read or written.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "This connection needs to be reauthorized before its comments can be read.",
									"code": "connectionDead",
									"platform": "instagram"
								}
							}
						}
					},
					"429": {
						"description": "The platform rate limited the upstream request; `platformError` carries its wording and `Retry-After` gives the wait in seconds. PostZen's own per-key and per-operation limiters also return `429`, with the plain body `{\"error\":\"rate_limited\",\"retryAfter\":<seconds>}`.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "(#4) Application request limit reached",
									"code": "4",
									"platform": "instagram",
									"platformError": "(#4) Application request limit reached"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "The platform could not answer the request. `platformError` carries its wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Unsupported get request.",
									"code": "100",
									"platform": "facebook",
									"platformError": "Unsupported get request."
								}
							}
						}
					}
				}
			}
		},
		"/v1/inbox/comments/{postId}/{commentId}/hide": {
			"parameters": [
				{
					"name": "postId",
					"in": "path",
					"required": true,
					"description": "Post the comments belong to. Accepts a PostZen post id — resolved to the id the post was published under for `accountId` — or the platform's own post/media id, which is the common case because the inbox covers every post the account has, not only the ones PostZen published. Instagram and Facebook also accept a comment id here.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "commentId",
					"in": "path",
					"required": true,
					"description": "Platform id of the comment to hide or unhide.",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"tags": [
					"Inbox"
				],
				"operationId": "hideInboxComment",
				"summary": "Hide a comment",
				"description": "Hides a comment so only its author still sees it. Requires a read-write API key and the account's comment-management scope. `canHide` on the comment says whether the platform allows it: Facebook reports it per comment, and Threads only supports hiding top-level replies on the connected account's own posts — hiding one there also hides the replies beneath it.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InboxHideRequest"
							},
							"example": {
								"accountId": "k17d8s9f0a1b2c3d4e5f6g7h8i"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Comment hidden.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxHideResponse"
								},
								"example": {
									"status": "success",
									"commentId": "17912345678901234",
									"hidden": true,
									"platform": "instagram"
								}
							}
						}
					},
					"400": {
						"description": "A parameter is missing or malformed — a plain `{ error }` body — or the account is not on a platform the inbox supports (`platformUnsupported`). A platform-rejected identifier or parameter also lands here, with `platformError` carrying the platform's wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "The inbox supports Instagram, Facebook and Threads accounts only.",
									"code": "platformUnsupported",
									"platform": "tiktok"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The API key is read-only, the account is outside its profile access (`forbidden`), or the connection is missing the account's comment-management scope (`platformCapabilityMissing`) — nothing is sent to the platform in that case.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Reconnect the account to grant PostZen access to its comments.",
									"code": "platformCapabilityMissing",
									"platform": "facebook"
								}
							}
						}
					},
					"404": {
						"description": "No such account (`accountNotFound`), no such post for that account (`postNotFound`), the PostZen post has not published to this account yet (`postNotPublished`), or the platform reported the comment as missing.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "That post could not be found.",
									"code": "postNotFound"
								}
							}
						}
					},
					"424": {
						"description": "The account's connection is dead and must be reauthorized before its comments can be read or written.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "This connection needs to be reauthorized before its comments can be read.",
									"code": "connectionDead",
									"platform": "instagram"
								}
							}
						}
					},
					"429": {
						"description": "The platform rate limited the upstream request; `platformError` carries its wording and `Retry-After` gives the wait in seconds. PostZen's own per-key and per-operation limiters also return `429`, with the plain body `{\"error\":\"rate_limited\",\"retryAfter\":<seconds>}`.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "(#4) Application request limit reached",
									"code": "4",
									"platform": "instagram",
									"platformError": "(#4) Application request limit reached"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "The platform could not answer the request. `platformError` carries its wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Unsupported get request.",
									"code": "100",
									"platform": "facebook",
									"platformError": "Unsupported get request."
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Inbox"
				],
				"operationId": "unhideInboxComment",
				"summary": "Unhide a comment",
				"description": "Restores a hidden comment. Requires a read-write API key and the account's comment-management scope. On Threads, unhiding a top-level reply also restores the replies beneath it.",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"required": true,
						"description": "PostZen account id of the connected Instagram, Facebook, or Threads account that owns the post.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Comment unhidden.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxHideResponse"
								},
								"example": {
									"status": "success",
									"commentId": "17912345678901234",
									"hidden": false,
									"platform": "instagram"
								}
							}
						}
					},
					"400": {
						"description": "A parameter is missing or malformed — a plain `{ error }` body — or the account is not on a platform the inbox supports (`platformUnsupported`). A platform-rejected identifier or parameter also lands here, with `platformError` carrying the platform's wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "The inbox supports Instagram, Facebook and Threads accounts only.",
									"code": "platformUnsupported",
									"platform": "tiktok"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The API key is read-only, the account is outside its profile access (`forbidden`), or the connection is missing the account's comment-management scope (`platformCapabilityMissing`) — nothing is sent to the platform in that case.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Reconnect the account to grant PostZen access to its comments.",
									"code": "platformCapabilityMissing",
									"platform": "facebook"
								}
							}
						}
					},
					"404": {
						"description": "No such account (`accountNotFound`), no such post for that account (`postNotFound`), the PostZen post has not published to this account yet (`postNotPublished`), or the platform reported the comment as missing.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "That post could not be found.",
									"code": "postNotFound"
								}
							}
						}
					},
					"424": {
						"description": "The account's connection is dead and must be reauthorized before its comments can be read or written.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "This connection needs to be reauthorized before its comments can be read.",
									"code": "connectionDead",
									"platform": "instagram"
								}
							}
						}
					},
					"429": {
						"description": "The platform rate limited the upstream request; `platformError` carries its wording and `Retry-After` gives the wait in seconds. PostZen's own per-key and per-operation limiters also return `429`, with the plain body `{\"error\":\"rate_limited\",\"retryAfter\":<seconds>}`.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "(#4) Application request limit reached",
									"code": "4",
									"platform": "instagram",
									"platformError": "(#4) Application request limit reached"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "The platform could not answer the request. `platformError` carries its wording.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxErrorResponse"
								},
								"example": {
									"error": "Unsupported get request.",
									"code": "100",
									"platform": "facebook",
									"platformError": "Unsupported get request."
								}
							}
						}
					}
				}
			}
		},
		"/v1/inbox/conversations": {
			"get": {
				"tags": [
					"Inbox"
				],
				"operationId": "listInboxConversations",
				"summary": "List direct message conversations",
				"description": "Returns the Instagram direct message threads PostZen holds for the accounts this key can reach, newest activity first, and refreshes that stored copy from the platform as a side effect (throttled per account, so a tight polling loop costs nothing extra). `meta` reports which accounts could not be refreshed; their stored threads are still returned. Read-only and read-write API keys are accepted.",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Restrict the read to one connected account. Omitted, every Instagram account the key can reach is queried.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "profileId",
						"in": "query",
						"description": "Restrict the read to accounts on one profile.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "platform",
						"in": "query",
						"description": "Restrict the read to one platform. Direct messages cover Instagram only; any other value is a validation error.",
						"schema": {
							"type": "string",
							"enum": [
								"instagram"
							]
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "Return only active or only archived threads. Archive state is PostZen-local.",
						"schema": {
							"type": "string",
							"enum": [
								"active",
								"archived"
							]
						}
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Order by `updatedTime`.",
						"schema": {
							"type": "string",
							"enum": [
								"asc",
								"desc"
							],
							"default": "desc"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 50
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Opaque pagination cursor. Pass `pagination.nextCursor` from the previous response.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Conversations returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxConversationsResponse"
								},
								"example": {
									"data": [
										{
											"id": "t_17845791234567890",
											"platform": "instagram",
											"accountId": "k17d8s9f0a1b2c3d4e5f6g7h8i",
											"accountUsername": "postzenhq",
											"participantId": "17841400000000000",
											"participantName": "Jane Doe",
											"participantUsername": "janedoe",
											"participantPicture": "https://scontent.cdninstagram.com/v/t51.2885-19/jane.jpg",
											"lastMessage": "Is the sale still on?",
											"lastMessageAt": "2026-08-18T16:04:11.000Z",
											"updatedTime": "2026-08-18T16:04:11.000Z",
											"status": "active",
											"unreadCount": 2
										}
									],
									"pagination": {
										"hasMore": true,
										"nextCursor": "eyJpZCI6ImsxN2Q4czlmMGExYjJjM2Q0ZTVmNmc3aDhpIn0"
									},
									"meta": {
										"accountsQueried": 2,
										"accountsFailed": 0,
										"failedAccounts": [],
										"lastUpdated": "2026-08-18T16:10:00.000Z"
									}
								}
							}
						}
					},
					"400": {
						"description": "A parameter is missing or malformed — a plain `{ error }` body — or the account is not on a platform direct messages support (`platformUnsupported`).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxDmErrorResponse"
								},
								"example": {
									"error": "Direct messages support Instagram accounts only.",
									"code": "platformUnsupported",
									"platform": "tiktok"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The account is outside the API key's profile access (`forbidden`), or the connection is missing the messaging scope this call needs (`platformCapabilityMissing`). Reconnect the account to grant it.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxDmErrorResponse"
								},
								"example": {
									"error": "Reconnect the account to grant PostZen access to its messages.",
									"code": "platformCapabilityMissing",
									"platform": "instagram"
								}
							}
						}
					},
					"404": {
						"description": "No such account (`accountNotFound`) or no such conversation for that account (`conversationNotFound`).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxDmErrorResponse"
								},
								"example": {
									"error": "That conversation could not be found.",
									"code": "conversationNotFound"
								}
							}
						}
					},
					"424": {
						"description": "The connection needs to be reauthorized before its messages can be read (`connectionDead`).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InboxDmErrorResponse"
								},
								"example": {
									"error": "This connection needs to be reauthorized before its messages can be read.",
									"code": "connectionDead"
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/inbox/conversations/search": {
			"get": {
				"tags": [
					"Inbox"
				],
				"operationId": "searchInboxConversations",
				"summary": "Search direct message conversations",
[...]
