{
	"openapi": "3.1.0",
	"info": {
		"title": "PostZen Public API",
		"version": "1.0.0",
		"description": "The PostZen Public API lets server-side integrations manage profiles, connected social accounts, OAuth connection flows, media uploads, and post creation."
	},
	"servers": [
		{
			"url": "https://api.postzen.dev",
			"description": "Production API"
		}
	],
	"security": [
		{
			"bearerAuth": []
		}
	],
	"tags": [
		{
			"name": "Profiles",
			"description": "List, create, update, and delete PostZen profiles."
		},
		{
			"name": "Accounts",
			"description": "List and disconnect connected social accounts."
		},
		{
			"name": "Connect",
			"description": "Start and complete OAuth account connection flows."
		},
		{
			"name": "Media",
			"description": "Create presigned upload URLs for PostZen-hosted media."
		},
		{
			"name": "Posts",
			"description": "Create drafts, scheduled posts, or immediate posts, and read LinkedIn comments and reactions on published organization posts."
		},
		{
			"name": "Analytics",
			"description": "Read post, engagement, follower, and posting-time analytics, and synchronize external posts."
		},
		{
			"name": "API Keys",
			"x-displayName": "API Keys",
			"description": "Manage PostZen API keys programmatically. Creating and deleting keys requires a read-write key with full profile access."
		}
	],
	"paths": {
		"/v1/profiles": {
			"get": {
				"tags": [
					"Profiles"
				],
				"operationId": "listProfiles",
				"summary": "List profiles",
				"description": "Returns profiles available to the API key, sorted by creation date (oldest first). Read-only and read-write API keys are accepted.",
				"responses": {
					"200": {
						"description": "Profiles returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProfilesListResponse"
								},
								"example": {
									"profiles": [
										{
											"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
											"userId": "jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa",
											"name": "Marketing Team",
											"description": "Profile for marketing campaigns",
											"color": "#4caf50",
											"isDefault": false,
											"createdAt": "2026-06-13T16:00:00.000Z"
										}
									]
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"description": "Unexpected server error.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "Failed to list profiles"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Profiles"
				],
				"operationId": "createProfile",
				"summary": "Create a profile",
				"description": "Creates a profile. This endpoint requires a read-write API key with access to all profiles.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProfileCreateRequest"
							},
							"example": {
								"name": "Marketing Team",
								"description": "Profile for marketing campaigns",
								"color": "#4caf50"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Profile created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProfileWriteResponse"
								},
								"example": {
									"message": "Profile created successfully",
									"profile": {
										"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
										"userId": "jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa",
										"name": "Marketing Team",
										"description": "Profile for marketing campaigns",
										"color": "#4caf50",
										"isDefault": false,
										"createdAt": "2026-06-13T16:00:00.000Z"
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/profiles/{profileId}": {
			"parameters": [
				{
					"name": "profileId",
					"in": "path",
					"required": true,
					"description": "PostZen profile id.",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"tags": [
					"Profiles"
				],
				"operationId": "getProfile",
				"summary": "Get a profile",
				"description": "Returns a single profile visible to the API key.",
				"responses": {
					"200": {
						"description": "Profile returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProfileResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"put": {
				"tags": [
					"Profiles"
				],
				"operationId": "updateProfile",
				"summary": "Update a profile",
				"description": "Updates one or more profile fields. This endpoint requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProfileUpdateRequest"
							},
							"example": {
								"name": "Marketing Team (Updated)",
								"description": "Updated profile description",
								"color": "#2196f3",
								"isDefault": true
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Profile updated.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProfileWriteResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"delete": {
				"tags": [
					"Profiles"
				],
				"operationId": "deleteProfile",
				"summary": "Delete a profile",
				"description": "Deletes a profile. The default profile cannot be deleted, and profiles with connected accounts must be disconnected first.",
				"responses": {
					"200": {
						"description": "Profile deleted.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MessageResponse"
								},
								"example": {
									"message": "Profile deleted successfully"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/accounts": {
			"get": {
				"tags": [
					"Accounts"
				],
				"operationId": "listAccounts",
				"summary": "List accounts",
				"description": "Returns connected social accounts available to the API key, sorted by connection date (newest first). Read-only and read-write API keys are accepted.",
				"parameters": [
					{
						"name": "profileId",
						"in": "query",
						"description": "Filter accounts by profile id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "platform",
						"in": "query",
						"description": "Filter accounts by platform. `twitter` is accepted as an alias for `x`.",
						"schema": {
							"$ref": "#/components/schemas/PublicPlatformInput"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "`connected` returns healthy accounts. `disconnected` returns accounts that need reconnection or are disabled.",
						"schema": {
							"type": "string",
							"enum": [
								"connected",
								"disconnected"
							]
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "1-based page number. Must be provided with `limit`.",
						"schema": {
							"type": "integer",
							"minimum": 1
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size. Must be provided with `page`.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100
						}
					}
				],
				"responses": {
					"200": {
						"description": "Accounts returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccountsListResponse"
								},
								"example": {
									"accounts": [
										{
											"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
											"platform": "twitter",
											"providerAccountId": "1934567890123456789",
											"profileId": {
												"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
												"name": "Marketing Team",
												"slug": "marketing-team",
												"color": "#4caf50"
											},
											"username": "acme",
											"displayName": "Acme",
											"profileUrl": "https://x.com/acme",
											"status": "connected",
											"isActive": true,
											"connectedAt": "2026-06-13T16:00:00.000Z"
										}
									]
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/accounts/{accountId}": {
			"delete": {
				"tags": [
					"Accounts"
				],
				"operationId": "disconnectAccount",
				"summary": "Disconnect an account",
				"description": "Disconnects and removes a connected social account. Pending scheduled, queued, and publishing targets for that account are canceled. This endpoint requires a read-write API key.",
				"parameters": [
					{
						"name": "accountId",
						"in": "path",
						"required": true,
						"description": "PostZen account id.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Account disconnected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MessageResponse"
								},
								"example": {
									"message": "Account disconnected successfully"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/connect/{platform}": {
			"parameters": [
				{
					"name": "platform",
					"in": "path",
					"required": true,
					"description": "Social platform to connect. `twitter` is accepted as an alias for `x`.",
					"schema": {
						"$ref": "#/components/schemas/PublicPlatformInput"
					}
				}
			],
			"get": {
				"tags": [
					"Connect"
				],
				"operationId": "createConnectUrl",
				"summary": "Create an OAuth connect URL",
				"description": "Initiates an OAuth connection flow and returns an authorization URL to redirect the user to. The OAuth state expires after 10 minutes. This endpoint requires a read-write API key.\n\nFor `bluesky`, the returned `authUrl` is a PostZen-hosted page where the user enters their Bluesky handle and app password (no developer app or OAuth redirect is required); the connection completes when they submit that form.\n\nFor `telegram`, the returned `authUrl` is a PostZen-hosted page that issues a short-lived access code (there is no OAuth grant and no Telegram authorization screen); the connection completes when the user adds @PostZenScheduleBot as an administrator of a channel or group and sends that code to the bot.",
				"parameters": [
					{
						"name": "profileId",
						"in": "query",
						"required": true,
						"description": "PostZen profile id to attach the connected account to.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "redirectUrl",
						"in": "query",
						"description": "Custom URL PostZen redirects to after the connection completes.",
						"schema": {
							"type": "string",
							"format": "uri"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OAuth URL created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectStartResponse"
								},
								"example": {
									"authUrl": "https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=86xk2ab9cdef01&state=3q2Xv8Zk1mR5tY7wA9bC4dE6&scope=openid%20profile%20w_member_social%20email",
									"state": "3q2Xv8Zk1mR5tY7wA9bC4dE6"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"$ref": "#/components/responses/PaymentRequired"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"tags": [
					"Connect"
				],
				"operationId": "completeConnect",
				"summary": "Complete an OAuth connection",
				"description": "Exchanges an OAuth authorization code for tokens and connects the account to the specified profile. This endpoint requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ConnectCompleteRequest"
							},
							"example": {
								"code": "AQTF0v6PZnq1yTkGxg3M4S8d",
								"state": "3q2Xv8Zk1mR5tY7wA9bC4dE6",
								"profileId": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Account connected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectCompleteResponse"
								},
								"example": {
									"message": "Account connected successfully",
									"platform": "twitter",
									"profileId": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
									"status": "connected",
									"accounts": [
										{
											"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
											"platform": "twitter",
											"providerAccountId": "1934567890123456789",
											"profileId": {
												"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
												"name": "Marketing Team",
												"slug": "marketing-team",
												"color": "#4caf50"
											},
											"username": "acme",
											"displayName": "Acme",
											"status": "connected",
											"isActive": true,
											"connectedAt": "2026-06-19T16:00:00.000Z"
										}
									]
								}
							}
						}
					},
					"400": {
						"description": "Invalid request, expired OAuth state, or a failed platform callback. Callback failures return a camelCase error code with an optional `errorDescription`.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectCompleteErrorResponse"
								},
								"example": {
									"error": "oauthCallbackFailed",
									"errorDescription": "OAuth callback did not complete a matching platform connection"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"$ref": "#/components/responses/PaymentRequired"
					},
					"403": {
						"description": "The API key does not have access to the profile, or the OAuth state belongs to a different user or profile.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectCompleteErrorResponse"
								},
								"example": {
									"error": "oauthStateUserMismatch"
								}
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"description": "The platform token exchange failed or an unexpected server error occurred.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConnectCompleteErrorResponse"
								},
								"example": {
									"error": "linkedinOauthFailed"
								}
							}
						}
					}
				}
			}
		},
		"/v1/media/presign": {
			"post": {
				"tags": [
					"Media"
				],
				"operationId": "createMediaPresign",
				"summary": "Create a presigned media upload URL",
				"description": "Creates a presigned URL for uploading an image, video, GIF, or PDF to PostZen-hosted storage. Upload the file with an HTTP `PUT` to `uploadUrl`, then reference `publicUrl` in post `mediaItems`. This endpoint requires a read-write API key.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MediaPresignRequest"
							},
							"example": {
								"filename": "launch-video.mp4",
								"contentType": "video/mp4",
								"size": 10485760
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Presigned upload URL created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MediaPresignResponse"
								},
								"example": {
									"uploadUrl": "https://postzen-media.a1b2c3d4e5f6a7b8.r2.cloudflarestorage.com/users/jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa/media/6f0d0296-6a1c-4d5b-9a2e-3f8c1b7d4e90/launch-video.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=f3ac1e2b",
									"publicUrl": "https://media.postzen.dev/users/jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa/media/6f0d0296-6a1c-4d5b-9a2e-3f8c1b7d4e90/launch-video.mp4",
									"key": "users/jd7cm2xw9krt4v1n8q6zs0b3hf5yg2pa/media/6f0d0296-6a1c-4d5b-9a2e-3f8c1b7d4e90/launch-video.mp4",
									"type": "video"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/posts": {
			"get": {
				"tags": [
					"Posts"
				],
				"operationId": "listPosts",
				"summary": "List posts",
				"description": "Returns posts created for the profiles available to the API key, newest first. Read-only and read-write API keys are accepted. Published posts include a `platformPostUrl` for each published platform target. Results are capped to the 1000 most recent matching posts.",
				"parameters": [
					{
						"name": "profileId",
						"in": "query",
						"description": "Filter posts by profile id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "accountId",
						"in": "query",
						"description": "Filter posts to those targeting a specific connected account.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "platform",
						"in": "query",
						"description": "Filter posts to those with a target on this platform. `twitter` is accepted as an alias for `x`.",
						"schema": {
							"$ref": "#/components/schemas/PublicPlatformInput"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "Filter posts by status.",
						"schema": {
							"type": "string",
							"enum": [
								"draft",
								"scheduled",
								"queued",
								"publishing",
								"published",
								"partially_failed",
								"failed",
								"canceled"
							]
						}
					},
					{
						"name": "dateFrom",
						"in": "query",
						"description": "Only include posts scheduled on or after this ISO 8601 timestamp. Posts without a scheduled time are excluded when a date filter is supplied.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "dateTo",
						"in": "query",
						"description": "Only include posts scheduled on or before this ISO 8601 timestamp. Posts without a scheduled time are excluded when a date filter is supplied.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "sortBy",
						"in": "query",
						"description": "Sort order. `createdAt` sorts by creation time (newest first). `scheduledFor` sorts by scheduled time (newest first) and excludes posts without a scheduled time.",
						"schema": {
							"type": "string",
							"enum": [
								"createdAt",
								"scheduledFor"
							],
							"default": "createdAt"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "1-based page number. Defaults to 1.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size. Defaults to 20.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 20
						}
					}
				],
				"responses": {
					"200": {
						"description": "Posts returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PostsListResponse"
								},
								"example": {
									"posts": [
										{
											"_id": "jx58t2kqm4wr9v3n7c1zp6bs0dh5fg8y",
											"title": "Launch post",
											"content": "We shipped the new release.",
											"status": "published",
											"scheduledFor": null,
											"timezone": "UTC",
											"platforms": [
												{
													"platform": "twitter",
													"accountId": {
														"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
														"platform": "twitter",
														"username": "acme",
														"displayName": "Acme",
														"isActive": true
													},
													"status": "published",
													"platformPostUrl": "https://x.com/acme/status/1934567890123456789"
												}
											]
										}
									],
									"pagination": {
										"page": 1,
										"limit": 20,
										"total": 1,
										"totalPages": 1
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					}
				}
			},
			"post": {
				"tags": [
					"Posts"
				],
				"operationId": "createPost",
				"summary": "Create a post",
				"description": "Creates a draft, scheduled post, or immediate post. This endpoint requires a read-write API key. Provide exactly one creation mode: `publishNow`, `scheduledFor`, or `isDraft`.",
				"parameters": [
					{
						"name": "x-request-id",
						"in": "header",
						"description": "Optional idempotency key. Repeating the same value returns the original post instead of creating a new one.",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreatePostRequest"
							},
							"example": {
								"title": "Launch post",
								"content": "We shipped the new release.",
								"publishNow": true,
								"platforms": [
									{
										"platform": "twitter",
										"accountId": "1934567890123456789"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotency replay.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreatePostReplayResponse"
								},
								"example": {
									"existingPost": {
										"_id": "jx58t2kqm4wr9v3n7c1zp6bs0dh5fg8y",
										"title": "Launch post",
										"content": "We shipped the new release.",
										"status": "published",
										"scheduledFor": null,
										"timezone": "UTC",
										"platforms": []
									},
									"message": "Post already exists for this request id"
								}
							}
						}
					},
					"201": {
						"description": "Post created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreatePostResponse"
								},
								"example": {
									"post": {
										"_id": "jx58t2kqm4wr9v3n7c1zp6bs0dh5fg8y",
										"title": "Launch post",
										"content": "We shipped the new release.",
										"status": "published",
										"scheduledFor": null,
										"timezone": "UTC",
										"platforms": [
											{
												"platform": "twitter",
												"accountId": {
													"_id": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
													"platform": "twitter",
													"username": "acme",
													"displayName": "Acme",
													"isActive": true
												},
												"status": "published",
												"platformPostUrl": "https://x.com/acme/status/1934567890123456789"
											}
										]
									},
									"message": "Post published successfully"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/posts/{postId}/comments": {
			"parameters": [
				{
					"name": "postId",
					"in": "path",
					"required": true,
					"description": "PostZen post id. The LinkedIn post URN is not accepted here.",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"tags": [
					"Posts"
				],
				"operationId": "listPostComments",
				"summary": "List comments on a LinkedIn post",
				"description": "Returns the comments LinkedIn holds for a post published through PostZen. LinkedIn only, and organization (company page) posts only. The post's LinkedIn connection must hold `r_organization_social_feed`, which LinkedIn ships with its Community Management API product — reconnect the account if it was connected before company-page posting was enabled. A personal (member) post always returns `403 personalPostUnsupported`: reading a member's own comments and reactions needs `r_member_social_feed`, which LinkedIn grants to select developers only. Read-only and read-write API keys are accepted.",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Restrict the lookup to one LinkedIn target when the post was published to several LinkedIn accounts. PostZen account id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Opaque pagination cursor. Pass the `nextCursor` from the previous response to fetch the next page.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					}
				],
				"responses": {
					"200": {
						"description": "Comments returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInCommentsResponse"
								},
								"example": {
									"comments": [
										{
											"id": "7123456789012345679",
											"commentUrn": "urn:li:comment:(urn:li:share:7123456789012345678,7123456789012345679)",
											"text": "Congratulations on the launch!",
											"authorUrn": "urn:li:person:AbC1dEfGhI",
											"authorName": "Jane Doe",
											"createdAt": "2026-07-29T16:04:11.000Z",
											"likeCount": 4,
											"replyCount": 1
										}
									],
									"nextCursor": "25"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The post was authored by a member rather than a company page (`personalPostUnsupported`), the API key cannot access the post's profile (`forbidden`), organization engagement reads are disabled on the deployment (`orgScopesDisabled`), or the connection is missing `r_organization_social_feed` (`platformCapabilityMissing`).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn only exposes comments and reactions for organization-authored posts. Publish with a LinkedIn company page to read engagement back.",
									"code": "personalPostUnsupported",
									"platform": "linkedin"
								}
							}
						}
					},
					"404": {
						"description": "No post exists with the given id, it is not visible to this API key, or it has no LinkedIn target.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "Not found",
									"code": "notFound",
									"platform": "linkedin"
								}
							}
						}
					},
					"409": {
						"description": "The post's LinkedIn target has not published yet, so it has no URN to read engagement for.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "This post has not been published to LinkedIn yet",
									"code": "postNotPublished",
									"platform": "linkedin"
								}
							}
						}
					},
					"424": {
						"description": "The LinkedIn account behind the post is no longer connected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "The LinkedIn account for this post is no longer connected",
									"code": "notConnected",
									"platform": "linkedin"
								}
							}
						}
					},
					"429": {
						"description": "LinkedIn rate limited the upstream request. PostZen's own per-account rate limiter also returns `429`, with `{\"error\":\"rate_limited\"}` and a `Retry-After` header.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn rate limited this request. Retry later.",
									"code": "rateLimited",
									"platform": "linkedin"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "LinkedIn could not answer the request.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn could not answer this request",
									"code": "requestFailed",
									"platform": "linkedin"
								}
							}
						}
					}
				}
			}
		},
		"/v1/posts/{postId}/reactions": {
			"parameters": [
				{
					"name": "postId",
					"in": "path",
					"required": true,
					"description": "PostZen post id. The LinkedIn post URN is not accepted here.",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"tags": [
					"Posts"
				],
				"operationId": "listPostReactions",
				"summary": "List reactions on a LinkedIn post",
				"description": "Returns the individual reactions LinkedIn holds for a post published through PostZen, plus a per-type count of the returned page. LinkedIn only, and organization (company page) posts only. The post's LinkedIn connection must hold `r_organization_social_feed`, which LinkedIn ships with its Community Management API product — reconnect the account if it was connected before company-page posting was enabled. A personal (member) post always returns `403 personalPostUnsupported`: reading a member's own comments and reactions needs `r_member_social_feed`, which LinkedIn grants to select developers only. Read-only and read-write API keys are accepted.",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Restrict the lookup to one LinkedIn target when the post was published to several LinkedIn accounts. PostZen account id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Opaque pagination cursor. Pass the `nextCursor` from the previous response to fetch the next page.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					}
				],
				"responses": {
					"200": {
						"description": "Reactions returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInReactionsResponse"
								},
								"example": {
									"reactions": [
										{
											"reactionType": "LIKE",
											"actorUrn": "urn:li:person:AbC1dEfGhI",
											"createdAt": "2026-07-29T16:02:47.000Z"
										},
										{
											"reactionType": "PRAISE",
											"actorUrn": "urn:li:person:JkL2mNoPqR",
											"createdAt": "2026-07-29T16:03:02.000Z"
										}
									],
									"totalsByType": {
										"LIKE": 1,
										"PRAISE": 1
									},
									"nextCursor": "25"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"description": "The post was authored by a member rather than a company page (`personalPostUnsupported`), the API key cannot access the post's profile (`forbidden`), organization engagement reads are disabled on the deployment (`orgScopesDisabled`), or the connection is missing `r_organization_social_feed` (`platformCapabilityMissing`).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn only exposes comments and reactions for organization-authored posts. Publish with a LinkedIn company page to read engagement back.",
									"code": "personalPostUnsupported",
									"platform": "linkedin"
								}
							}
						}
					},
					"404": {
						"description": "No post exists with the given id, it is not visible to this API key, or it has no LinkedIn target.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "Not found",
									"code": "notFound",
									"platform": "linkedin"
								}
							}
						}
					},
					"409": {
						"description": "The post's LinkedIn target has not published yet, so it has no URN to read engagement for.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "This post has not been published to LinkedIn yet",
									"code": "postNotPublished",
									"platform": "linkedin"
								}
							}
						}
					},
					"424": {
						"description": "The LinkedIn account behind the post is no longer connected.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "The LinkedIn account for this post is no longer connected",
									"code": "notConnected",
									"platform": "linkedin"
								}
							}
						}
					},
					"429": {
						"description": "LinkedIn rate limited the upstream request. PostZen's own per-account rate limiter also returns `429`, with `{\"error\":\"rate_limited\"}` and a `Retry-After` header.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn rate limited this request. Retry later.",
									"code": "rateLimited",
									"platform": "linkedin"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "LinkedIn could not answer the request.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedInSocialReadErrorResponse"
								},
								"example": {
									"error": "LinkedIn could not answer this request",
									"code": "requestFailed",
									"platform": "linkedin"
								}
							}
						}
					}
				}
			}
		},
		"/v1/analytics": {
			"get": {
				"tags": [
					"Analytics"
				],
				"operationId": "getAnalytics",
				"summary": "Get post analytics",
				"description": "> **Coming soon** — Analytics endpoints are being rolled out and may return empty data until the rollout completes.\n\nReturns one post when `postId` is supplied. Otherwise returns a paginated analytics list with aggregate overview metrics.",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "postId",
						"in": "query",
						"description": "PostZen post id or platform post id. When supplied, the response is a single analytics object.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "platform",
						"in": "query",
						"description": "Platform slug, or `all` for every platform.",
						"schema": {
							"oneOf": [
								{
									"$ref": "#/components/schemas/AnalyticsPlatform"
								},
								{
									"type": "string",
									"const": "all"
								}
							],
							"default": "all"
						}
					},
					{
						"name": "profileId",
						"in": "query",
						"description": "Filter by PostZen profile id.",
						"schema": {
							"type": "string",
							"default": "all"
						}
					},
					{
						"name": "accountId",
						"in": "query",
						"description": "Filter by connected social account id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "source",
						"in": "query",
						"description": "Filter by posts published through PostZen or imported from a platform.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsSource"
						}
					},
					{
						"name": "fromDate",
						"in": "query",
						"description": "Inclusive range start. Accepts `YYYY-MM-DD` or an ISO 8601 datetime. Defaults to 90 days before `toDate`.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsDate"
						}
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "Inclusive range end. Accepts `YYYY-MM-DD` or an ISO 8601 datetime. Defaults to the current time.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsDate"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Page size.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 50
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "1-based page number.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "sortBy",
						"in": "query",
						"description": "Field used to order list results.",
						"schema": {
							"type": "string",
							"enum": [
								"date",
								"engagement",
								"impressions",
								"reach",
								"likes",
								"comments",
								"shares",
								"saves",
								"clicks",
								"views"
							],
							"default": "date"
						}
					},
					{
						"name": "order",
						"in": "query",
						"description": "Sort direction.",
						"schema": {
							"type": "string",
							"enum": [
								"asc",
								"desc"
							],
							"default": "desc"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Single-post analytics or a paginated analytics list.",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"$ref": "#/components/schemas/AnalyticsPost"
										},
										{
											"$ref": "#/components/schemas/AnalyticsListResponse"
										}
									]
								}
							}
						}
					},
					"202": {
						"description": "The first analytics synchronization is pending; stored post data is returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AnalyticsPost"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"description": "Analytics entitlement required.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"424": {
						"description": "All platform analytics fetches failed.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/analytics/post-timeline": {
			"get": {
				"tags": [
					"Analytics"
				],
				"operationId": "getPostTimeline",
				"summary": "Get a post analytics timeline",
				"description": "> **Coming soon** — Analytics endpoints are being rolled out and may return empty data until the rollout completes.\n\nReturns one daily row per platform for a PostZen post, imported external post, or platform post id.",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "postId",
						"in": "query",
						"required": true,
						"description": "PostZen post id, external post id, analytics row id, or platform post id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "fromDate",
						"in": "query",
						"description": "Inclusive range start. Defaults to 90 days before `toDate`.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsDate"
						}
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "Inclusive range end. Defaults to the current time.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsDate"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Post timeline returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PostTimelineResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"description": "Analytics entitlement required.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/analytics/daily-metrics": {
			"get": {
				"tags": [
					"Analytics"
				],
				"operationId": "getDailyMetrics",
				"summary": "Get daily analytics metrics",
				"description": "> **Coming soon** — Analytics endpoints are being rolled out and may return empty data until the rollout completes.\n\nReturns daily aggregate metrics and a per-platform breakdown. Publish attribution assigns lifetime metrics to the post's publish date; received attribution assigns metric deltas to the day they were observed.",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "platform",
						"in": "query",
						"description": "Filter by platform.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsPlatform"
						}
					},
					{
						"name": "profileId",
						"in": "query",
						"description": "Filter by PostZen profile id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "accountId",
						"in": "query",
						"description": "Filter by connected social account id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "fromDate",
						"in": "query",
						"description": "Inclusive range start. Defaults to 180 days before `toDate`.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsDate"
						}
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "Inclusive range end. Defaults to the current time.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsDate"
						}
					},
					{
						"name": "source",
						"in": "query",
						"description": "Filter by PostZen-published or externally imported posts.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsSource"
						}
					},
					{
						"name": "attribution",
						"in": "query",
						"description": "Controls whether lifetime metrics are assigned to publish dates or daily deltas to receipt dates.",
						"schema": {
							"type": "string",
							"enum": [
								"publish",
								"received"
							],
							"default": "publish"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Daily metrics returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DailyMetricsResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"description": "Analytics entitlement required.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/analytics/best-time": {
			"get": {
				"tags": [
					"Analytics"
				],
				"operationId": "getBestTimeToPost",
				"summary": "Get the best times to post",
				"description": "> **Coming soon** — Analytics endpoints are being rolled out and may return empty data until the rollout completes.\n\nReturns historical engagement slots grouped by UTC day of week and hour, ordered by average engagement descending.",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "platform",
						"in": "query",
						"description": "Filter by platform.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsPlatform"
						}
					},
					{
						"name": "profileId",
						"in": "query",
						"description": "Filter by PostZen profile id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "accountId",
						"in": "query",
						"description": "Filter by connected social account id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "source",
						"in": "query",
						"description": "Filter by PostZen-published or externally imported posts.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsSource"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Best posting slots returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BestTimeResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"description": "Analytics entitlement required.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/accounts/follower-stats": {
			"get": {
				"tags": [
					"Analytics"
				],
				"operationId": "getFollowerStats",
				"summary": "Get follower statistics",
				"description": "> **Coming soon** — Analytics endpoints are being rolled out and may return empty data until the rollout completes.\n\nReturns follower history and growth for connected accounts at daily, weekly, or monthly granularity.",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "accountIds",
						"in": "query",
						"description": "Comma-separated connected account ids. Omit to include every accessible account.",
						"schema": {
							"type": "string"
						},
						"example": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d,j86km3nv1xpw5r2t9c4zq7bs0fh6yg8e"
					},
					{
						"name": "profileId",
						"in": "query",
						"description": "Filter by PostZen profile id.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "fromDate",
						"in": "query",
						"description": "Inclusive range start. Defaults to 30 days before `toDate`.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsDate"
						}
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "Inclusive range end. Defaults to the current time.",
						"schema": {
							"$ref": "#/components/schemas/AnalyticsDate"
						}
					},
					{
						"name": "granularity",
						"in": "query",
						"description": "Follower history bucket size.",
						"schema": {
							"type": "string",
							"enum": [
								"daily",
								"weekly",
								"monthly"
							],
							"default": "daily"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Follower statistics returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/FollowerStatsResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"description": "Analytics entitlement required.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/posts/sync-external": {
			"post": {
				"tags": [
					"Analytics"
				],
				"operationId": "syncExternalPosts",
				"summary": "Synchronize external posts",
				"description": "> **Coming soon** — Analytics endpoints are being rolled out and may return empty data until the rollout completes.\n\nFetches an account's latest posts published directly on its platform. Supplying `url` or `postId` searches for a specific post. Requests made within the per-account debounce window return cached results with `synced.skipped` set to true.",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SyncExternalPostsRequest"
							},
							"example": {
								"accountId": "j97kp4mw2xnv6r1t8c3zq5bs9fh0yg4d",
								"url": "https://www.pinterest.com/pin/1234567890/"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "External posts synchronized or served from the debounce cache.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SyncExternalPostsResponse"
								}
							}
						}
					},
					"400": {
						"description": "Invalid request, unsupported platform, or platform synchronization failure.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AnalyticsErrorResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"402": {
						"description": "Analytics entitlement required.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"429": {
						"$ref": "#/components/responses/TooManyRequests"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/api-keys": {
			"get": {
				"tags": [
					"API Keys"
				],
				"operationId": "listApiKeys",
				"summary": "List API keys",
				"description": "Returns the API keys for the authenticated account. The full key value is never returned; only a masked `keyPreview` is shown. Read-only and read-write API keys are accepted.",
				"responses": {
					"200": {
						"description": "API keys returned.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiKeysListResponse"
								},
								"example": {
									"apiKeys": [
										{
											"id": "jk91m3xw7ktr5v2n8q4zs0b6hf1yg3pd",
											"name": "Production key",
											"keyPreview": "pzn_live_a1b2c3d4e...",
											"createdAt": "2026-06-13T16:00:00.000Z",
											"lastUsedAt": "2026-07-22T09:14:00.000Z",
											"scope": "full",
											"profileIds": [],
											"permission": "read-write"
										},
										{
											"id": "jk52t8nqm4wr9v3c7z1p6bs0dh5fg2yx",
											"name": "Marketing read-only",
											"keyPreview": "pzn_live_9f8e7d6c5...",
											"createdAt": "2026-06-19T16:00:00.000Z",
											"lastUsedAt": null,
											"scope": "profiles",
											"profileIds": [
												{
													"_id": "jh72r5nqk9wx3v8m1t4cz6bs0fy5dg3e",
													"name": "Marketing Team",
													"color": "#4caf50"
												}
											],
											"permission": "read"
										}
									]
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"description": "Unexpected server error.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "Failed to list API keys"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"API Keys"
				],
				"operationId": "createApiKey",
				"summary": "Create an API key",
				"description": "Creates an API key and returns the full key value exactly once. This endpoint requires a read-write API key with access to all profiles; profile-scoped keys receive a `403`. Store the returned `key` securely — it cannot be retrieved again after this response.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiKeyCreateRequest"
							},
							"example": {
								"name": "Production key",
								"scope": "full",
								"permission": "read-write"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "API key created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiKeyCreateResponse"
								},
								"example": {
									"message": "API key created successfully",
									"apiKey": {
										"id": "jk91m3xw7ktr5v2n8q4zs0b6hf1yg3pd",
										"name": "Production key",
										"keyPreview": "pzn_live_3f8c1b7d4...",
										"createdAt": "2026-07-23T16:00:00.000Z",
										"lastUsedAt": null,
										"scope": "full",
										"profileIds": [],
										"permission": "read-write",
										"key": "pzn_live_3f8c1b7d4e90a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8091a2b3c4d5e6f770"
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/api-keys/{keyId}": {
			"parameters": [
				{
					"name": "keyId",
					"in": "path",
					"required": true,
					"description": "PostZen API key id.",
					"schema": {
						"type": "string"
					}
				}
			],
			"delete": {
				"tags": [
					"API Keys"
				],
				"operationId": "deleteApiKey",
				"summary": "Delete an API key",
				"description": "Permanently revokes and deletes an API key. Requires a read-write key with full profile access. A key may delete itself.",
				"responses": {
					"200": {
						"description": "API key deleted.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MessageResponse"
								},
								"example": {
									"message": "API key deleted successfully"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"description": "No API key exists with the given id.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								},
								"example": {
									"error": "API key not found"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"description": "PostZen API key."
			}
		},
		"responses": {
			"BadRequest": {
				"description": "Invalid request.",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						},
						"example": {
							"error": "JSON body is required"
						}
					}
				}
			},
			"Unauthorized": {
				"description": "Missing or invalid API key.",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						},
						"example": {
							"error": "Unauthorized"
						}
					}
				}
			},
			"PaymentRequired": {
				"description": "A billing limit prevents the requested connection.",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/PaymentRequiredError"
						},
						"example": {
							"error": "Add a payment method before connecting more than 2 social accounts.",
							"code": "paymentRequired",
							"reason": "freeTierExceeded",
							"documentationUrl": "https://docs.postzen.dev/api-reference/connect/create-connect-url",
							"dashboardUrl": "https://app.postzen.dev/settings?tab=billing",
							"details": {
								"freeTierAccountLimit": 2,
								"currentAccountCount": 2,
								"hasPaymentMethod": false
							}
						}
					}
				}
			},
			"Forbidden": {
				"description": "The API key does not have sufficient permission or profile access.",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						},
						"example": {
							"error": "API key requires read_write permission"
						}
					}
				}
			},
			"NotFound": {
				"description": "Resource not found.",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						},
						"example": {
							"error": "Not found"
						}
					}
				}
			},
			"InternalError": {
				"description": "Unexpected server error.",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/ErrorResponse"
						},
						"example": {
							"error": "Failed to create post"
						}
					}
				}
			},
			"TooManyRequests": {
				"description": "Rate limit exceeded. Retry after the interval indicated by the `Retry-After` header.",
				"headers": {
					"Retry-After": {
						"description": "Number of seconds to wait before retrying.",
						"schema": {
							"type": "integer",
							"minimum": 1
						}
					}
				},
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/RateLimitError"
						},
						"example": {
							"error": "rate_limited",
							"retryAfter": 30
						}
					}
				}
			}
		},
		"schemas": {
			"ErrorResponse": {
				"type": "object",
				"required": [
					"error"
				],
				"properties": {
					"error": {
						"type": "string"
					}
				}
			},
			"AnalyticsErrorResponse": {
				"allOf": [
					{
						"$ref": "#/components/schemas/ErrorResponse"
					},
					{
						"type": "object",
						"properties": {
							"platform": {
								"$ref": "#/components/schemas/AnalyticsPlatform"
							},
							"platformError": {
								"type": "string",
								"description": "Original error detail returned by the social platform."
							}
						}
					}
				]
			},
			"AnalyticsDate": {
				"oneOf": [
					{
						"type": "string",
						"format": "date"
					},
					{
						"type": "string",
						"format": "date-time"
					}
				],
				"description": "A `YYYY-MM-DD` calendar date or ISO 8601 datetime."
			},
			"AnalyticsPlatform": {
				"type": "string",
				"enum": [
					"x",
					"instagram",
					"tiktok",
					"linkedin",
					"facebook",
					"youtube",
					"threads",
					"pinterest",
					"bluesky",
					"telegram"
				]
			},
			"AnalyticsSource": {
				"type": "string",
				"enum": [
					"all",
					"postzen",
					"external"
				],
				"default": "all"
			},
			"AnalyticsMetricTotals": {
				"type": "object",
				"required": [
					"impressions",
					"reach",
					"likes",
					"comments",
					"shares",
					"saves",
					"clicks",
					"views"
				],
				"properties": {
					"impressions": {
						"type": "number"
					},
					"reach": {
						"type": "number"
					},
					"likes": {
						"type": "number"
					},
					"comments": {
						"type": "number"
					},
					"shares": {
						"type": "number"
					},
					"saves": {
						"type": "number"
					},
					"clicks": {
						"type": "number"
					},
					"views": {
						"type": "number"
					}
				}
			},
			"AnalyticsMetrics": {
				"allOf": [
					{
						"$ref": "#/components/schemas/AnalyticsMetricTotals"
					},
					{
						"type": "object",
						"required": [
							"engagementRate",
							"lastUpdated"
						],
						"properties": {
							"engagementRate": {
								"type": "number",
								"description": "Interaction count divided by impressions, multiplied by 100 and rounded to two decimals."
							},
							"lastUpdated": {
								"type": [
									"string",
									"null"
								],
								"format": "date-time"
							}
						}
					}
				]
			},
			"AnalyticsMediaItem": {
				"type": "object",
				"required": [
					"type",
					"url",
					"thumbnail"
				],
				"properties": {
					"type": {
						"type": "string"
					},
					"url": {
						"type": "string",
						"format": "uri"
					},
					"thumbnail": {
						"type": "string",
						"format": "uri"
					}
				}
			},
			"PlatformAnalytics": {
				"type": "object",
				"required": [
					"platform",
					"status",
					"platformPostId",
					"accountId",
					"accountUsername",
					"analytics",
					"syncStatus",
					"platformPostUrl",
					"errorMessage"
				],
				"properties": {
					"platform": {
						"$ref": "#/components/schemas/AnalyticsPlatform"
					},
					"status": {
						"type": "string"
					},
					"platformPostId": {
						"type": "string"
					},
					"accountId": {
						"type": "string"
					},
					"accountUsername": {
						"type": "string"
					},
					"analytics": {
						"$ref": "#/components/schemas/AnalyticsMetrics"
					},
					"syncStatus": {
						"type": "string",
						"enum": [
							"synced",
							"pending",
							"failed"
						]
					},
					"platformPostUrl": {
						"type": [
							"string",
							"null"
						],
						"format": "uri"
					},
					"errorMessage": {
						"type": [
							"string",
							"null"
						]
					}
				}
			},
			"AnalyticsPost": {
				"type": "object",
				"required": [
					"postId",
					"postzenPostId",
					"status",
					"content",
					"scheduledFor",
					"publishedAt",
					"analytics",
					"platformAnalytics",
					"platform",
					"platformPostUrl",
					"isExternal",
					"syncStatus",
					"message",
					"thumbnailUrl",
					"mediaType",
					"mediaItems"
				],
				"properties": {
					"postId": {
						"type": "string"
					},
					"postzenPostId": {
						"type": [
							"string",
							"null"
						]
					},
					"status": {
						"type": "string"
					},
					"content": {
						"type": "string"
					},
					"scheduledFor": {
						"type": "string",
						"format": "date-time"
					},
					"publishedAt": {
						"type": "string",
						"format": "date-time"
					},
					"analytics": {
						"$ref": "#/components/schemas/AnalyticsMetrics"
					},
					"platformAnalytics": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/PlatformAnalytics"
						}
					},
					"platform": {
						"$ref": "#/components/schemas/AnalyticsPlatform"
					},
					"platformPostUrl": {
						"type": [
							"string",
							"null"
						],
						"format": "uri"
					},
					"isExternal": {
						"type": "boolean"
					},
					"syncStatus": {
						"type": "string",
						"enum": [
							"synced",
							"pending",
							"failed"
						]
					},
					"message": {
						"type": [
							"string",
							"null"
						]
					},
					"thumbnailUrl": {
						"type": [
							"string",
							"null"
						],
						"format": "uri"
					},
					"mediaType": {
						"type": [
							"string",
							"null"
						],
						"enum": [
							"image",
							"video",
							"text",
							"carousel",
							null
						]
					},
					"mediaItems": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AnalyticsMediaItem"
						}
					}
				}
			},
			"AnalyticsOverview": {
				"type": "object",
				"required": [
					"totalPosts",
					"totals",
					"avgEngagementRate"
				],
				"properties": {
					"totalPosts": {
						"type": "number"
					},
					"totals": {
						"$ref": "#/components/schemas/AnalyticsMetricTotals"
					},
					"avgEngagementRate": {
						"type": "number"
					}
				}
			},
			"AnalyticsListResponse": {
				"type": "object",
				"required": [
					"posts",
					"pagination",
					"overview",
					"truncated"
				],
				"properties": {
					"posts": {
						"type": "array",
						"description": "One entry per PostZen post, not per platform target. A post published to several platforms appears once, with one `platformAnalytics` entry per platform and `analytics` summed across them; `platform` is that post's only platform when it has one. Posts imported from a platform always appear on their own. `pagination.total` and `overview.totalPosts` count these grouped entries.",
						"items": {
							"$ref": "#/components/schemas/AnalyticsPost"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					},
					"overview": {
						"$ref": "#/components/schemas/AnalyticsOverview"
					},
					"truncated": {
						"type": "boolean",
						"description": "True when the requested window contained more posts than a single response can scan. `pagination.total` and `overview` then describe the most recent slice of the window rather than all of it; narrow `dateFrom`/`dateTo`, `accountId`, or `platform` to get exact totals."
					}
				}
			},
			"PostTimelineResponse": {
				"type": "object",
				"required": [
					"postId",
					"timeline"
				],
				"properties": {
					"postId": {
						"type": "string"
					},
					"timeline": {
						"type": "array",
						"items": {
							"type": "object",
							"required": [
								"date",
								"platform",
								"platformPostId",
								"impressions",
								"reach",
								"likes",
								"comments",
								"shares",
								"saves",
								"clicks",
								"views"
							],
							"properties": {
								"date": {
									"type": "string",
									"format": "date"
								},
								"platform": {
									"$ref": "#/components/schemas/AnalyticsPlatform"
								},
								"platformPostId": {
									"type": "string"
								},
								"impressions": {
									"type": "number"
								},
								"reach": {
									"type": "number"
								},
								"likes": {
									"type": "number"
								},
								"comments": {
									"type": "number"
								},
								"shares": {
									"type": "number"
								},
								"saves": {
									"type": "number"
								},
								"clicks": {
									"type": "number"
								},
								"views": {
									"type": "number"
								}
							}
						}
					}
				}
			},
			"DailyMetricsResponse": {
				"type": "object",
				"required": [
					"dailyData",
					"platformBreakdown"
				],
				"properties": {
					"dailyData": {
						"type": "array",
						"items": {
							"type": "object",
							"required": [
								"date",
								"postCount",
								"platforms",
								"metrics"
							],
							"properties": {
								"date": {
									"type": "string",
									"format": "date"
								},
								"postCount": {
									"type": "number"
								},
								"platforms": {
									"type": "object",
									"additionalProperties": {
										"type": "number"
									}
								},
								"metrics": {
									"$ref": "#/components/schemas/AnalyticsMetricTotals"
								}
							}
						}
					},
					"platformBreakdown": {
						"type": "array",
						"items": {
							"allOf": [
								{
									"$ref": "#/components/schemas/AnalyticsMetricTotals"
								},
								{
									"type": "object",
									"required": [
										"platform",
										"postCount"
									],
									"properties": {
										"platform": {
											"$ref": "#/components/schemas/AnalyticsPlatform"
										},
										"postCount": {
											"type": "number"
										}
									}
								}
							]
						}
					}
				}
			},
			"BestTimeResponse": {
				"type": "object",
				"required": [
					"slots"
				],
				"properties": {
					"slots": {
						"type": "array",
						"items": {
							"type": "object",
							"required": [
								"day_of_week",
								"hour",
								"avg_engagement",
								"post_count"
							],
							"properties": {
								"day_of_week": {
									"type": "integer",
									"minimum": 0,
									"maximum": 6,
									"description": "UTC day of week, where 0 is Sunday."
								},
								"hour": {
									"type": "integer",
									"minimum": 0,
									"maximum": 23
								},
								"avg_engagement": {
									"type": "number"
								},
								"post_count": {
									"type": "number"
								}
							}
						}
					}
				}
			},
			"FollowerStatsResponse": {
				"type": "object",
				"required": [
					"accounts",
					"stats",
					"dateRange",
					"granularity"
				],
				"properties": {
					"accounts": {
						"type": "array",
						"items": {
							"type": "object",
							"required": [
								"_id",
								"platform",
								"username",
								"currentFollowers",
								"growth",
								"growthPercentage",
								"dataPoints"
							],
							"properties": {
								"_id": {
									"type": "string"
								},
								"platform": {
									"$ref": "#/components/schemas/AnalyticsPlatform"
								},
								"username": {
									"type": "string"
								},
								"currentFollowers": {
									"type": "number"
								},
								"growth": {
									"type": "number"
								},
								"growthPercentage": {
									"type": "number"
								},
								"dataPoints": {
									"type": "number"
								}
							}
						}
					},
					"stats": {
						"type": "object",
						"additionalProperties": {
							"type": "array",
							"items": {
								"type": "object",
								"required": [
									"date",
									"followers"
								],
								"properties": {
									"date": {
										"type": "string",
										"format": "date"
									},
									"followers": {
										"type": "number"
									}
								}
							}
						}
					},
					"dateRange": {
						"type": "object",
						"required": [
							"from",
							"to"
						],
						"properties": {
							"from": {
								"type": "string",
								"format": "date-time"
							},
							"to": {
								"type": "string",
								"format": "date-time"
							}
						}
					},
					"granularity": {
						"type": "string",
						"enum": [
							"daily",
							"weekly",
							"monthly"
						]
					}
				}
			},
			"SyncExternalPostsRequest": {
				"type": "object",
				"required": [
					"accountId"
				],
				"properties": {
					"accountId": {
						"type": "string"
					},
					"url": {
						"type": "string",
						"format": "uri",
						"description": "Optional platform post URL to locate."
					},
					"postId": {
						"type": "string",
						"description": "Optional platform post id to locate."
					}
				}
			},
			"ExternalSyncedPost": {
				"type": "object",
				"required": [
					"platform",
					"platformPostId",
					"platformPostUrl",
					"content",
					"publishedAt",
					"mediaType",
					"mediaUrl",
					"thumbnailUrl",
					"mediaItems",
					"analytics"
				],
				"properties": {
					"platform": {
						"$ref": "#/components/schemas/AnalyticsPlatform"
					},
					"platformPostId": {
						"type": "string"
					},
					"platformPostUrl": {
						"type": "string",
						"format": "uri"
					},
					"content": {
						"type": "string"
					},
					"publishedAt": {
						"type": "string",
						"format": "date-time"
					},
					"mediaType": {
						"type": "string"
					},
					"mediaUrl": {
						"type": "string",
						"format": "uri"
					},
					"thumbnailUrl": {
						"type": "string",
						"format": "uri"
					},
					"mediaItems": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AnalyticsMediaItem"
						}
					},
					"analytics": {
						"$ref": "#/components/schemas/AnalyticsMetrics"
					}
				}
			},
			"SyncExternalPostsResponse": {
				"type": "object",
				"required": [
					"synced",
					"found",
					"post",
					"posts"
				],
				"properties": {
					"synced": {
						"type": "object",
						"required": [
							"postsFound",
							"postsSynced",
							"skipped"
						],
						"properties": {
							"postsFound": {
								"type": "number"
							},
							"postsSynced": {
								"type": "number"
							},
							"skipped": {
								"type": "boolean"
							}
						}
					},
					"found": {
						"type": "boolean"
					},
					"post": {
						"oneOf": [
							{
								"$ref": "#/components/schemas/ExternalSyncedPost"
							},
							{
								"type": "null"
							}
						]
					},
					"posts": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ExternalSyncedPost"
						}
					}
				}
			},
			"ConnectCompleteErrorResponse": {
				"type": "object",
				"required": [
					"error"
				],
				"properties": {
					"error": {
						"type": "string",
						"description": "Human-readable message, or a camelCase error code (for example `oauthCallbackFailed`) when the platform callback fails."
					},
					"errorDescription": {
						"type": "string",
						"description": "Additional detail reported by the platform, when available."
					}
				}
			},
			"PaymentRequiredError": {
				"type": "object",
				"required": [
					"error",
					"code",
					"reason",
					"documentationUrl",
					"dashboardUrl"
				],
				"properties": {
					"error": {
						"type": "string"
					},
					"code": {
						"type": "string",
						"const": "paymentRequired"
					},
					"reason": {
						"type": "string",
						"enum": [
							"freeTierExceeded",
							"xRequiresPaymentMethod"
						]
					},
					"documentationUrl": {
						"type": "string",
						"format": "uri"
					},
					"dashboardUrl": {
						"type": "string",
						"format": "uri"
					},
					"details": {
						"type": "object",
						"properties": {
							"freeTierAccountLimit": {
								"type": "number"
							},
							"currentAccountCount": {
								"type": "number"
							},
							"hasPaymentMethod": {
								"type": "boolean"
							}
						}
					}
				}
			},
			"MessageResponse": {
				"type": "object",
				"required": [
					"message"
				],
				"properties": {
					"message": {
						"type": "string"
					}
				}
			},
			"PublicPlatformInput": {
				"type": "string",
				"enum": [
					"twitter",
					"x",
					"instagram",
					"tiktok",
					"linkedin",
					"facebook",
					"youtube",
					"threads",
					"pinterest",
					"bluesky",
					"telegram"
				]
			},
			"PublicPlatformOutput": {
				"type": "string",
				"enum": [
					"twitter",
					"instagram",
					"tiktok",
					"linkedin",
					"facebook",
					"youtube",
					"threads",
					"pinterest",
					"bluesky",
					"telegram"
				]
			},
			"Profile": {
				"type": "object",
				"required": [
					"_id",
					"userId",
					"name",
					"color",
					"isDefault",
					"createdAt"
				],
				"properties": {
					"_id": {
						"type": "string",
						"description": "PostZen profile id."
					},
					"userId": {
						"type": "string",
						"description": "Owner user id."
					},
					"name": {
						"type": "string",
						"maxLength": 80
					},
					"description": {
						"type": "string",
						"maxLength": 240
					},
					"color": {
						"type": "string",
						"pattern": "^#[0-9a-fA-F]{6}$",
						"description": "Hex color in `#rrggbb` format."
					},
					"isDefault": {
						"type": "boolean"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"ProfilesListResponse": {
				"type": "object",
				"required": [
					"profiles"
				],
				"properties": {
					"profiles": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Profile"
						}
					}
				}
			},
			"ProfileResponse": {
				"type": "object",
				"required": [
					"profile"
				],
				"properties": {
					"profile": {
						"$ref": "#/components/schemas/Profile"
					}
				}
			},
			"ProfileWriteResponse": {
				"type": "object",
				"required": [
					"message",
					"profile"
				],
				"properties": {
					"message": {
						"type": "string"
					},
					"profile": {
						"$ref": "#/components/schemas/Profile"
					}
				}
			},
			"ProfileCreateRequest": {
				"type": "object",
				"required": [
					"name"
				],
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 80
					},
					"description": {
						"type": "string",
						"maxLength": 240
					},
					"color": {
						"type": "string",
						"pattern": "^#[0-9a-fA-F]{6}$",
						"default": "#ffeda0"
					}
				}
			},
			"ProfileUpdateRequest": {
				"type": "object",
				"description": "Include at least one field.",
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 80
					},
					"description": {
						"type": [
							"string",
							"null"
						],
						"maxLength": 240,
						"description": "Pass an empty string or `null` to clear the description."
					},
					"color": {
						"type": "string",
						"pattern": "^#[0-9a-fA-F]{6}$"
					},
					"isDefault": {
						"type": "boolean",
						"description": "Set to `true` to make this the default profile."
					}
				}
			},
			"AccountProfileSummary": {
				"type": "object",
				"required": [
					"_id",
					"name",
					"slug",
					"color"
				],
				"properties": {
					"_id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"slug": {
						"type": "string"
					},
					"color": {
						"type": "string"
					}
				}
			},
			"Account": {
				"type": "object",
				"required": [
					"_id",
					"platform",
					"providerAccountId",
					"profileId",
					"username",
					"displayName",
					"status",
					"isActive",
					"connectedAt"
				],
				"properties": {
					"_id": {
						"type": "string"
					},
					"platform": {
						"$ref": "#/components/schemas/PublicPlatformOutput"
					},
					"providerAccountId": {
						"type": "string"
					},
					"profileId": {
						"$ref": "#/components/schemas/AccountProfileSummary"
					},
					"username": {
						"type": "string"
					},
					"displayName": {
						"type": "string"
					},
					"profileUrl": {
						"type": "string",
						"format": "uri"
					},
					"avatarUrl": {
						"type": "string",
						"format": "uri"
					},
					"status": {
						"type": "string",
						"enum": [
							"connected",
							"needsReauth",
							"disconnected",
							"disabled"
						]
					},
					"isActive": {
						"type": "boolean"
					},
					"connectedAt": {
						"type": "string",
						"format": "date-time"
					},
					"lastSyncedAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"Pagination": {
				"type": "object",
				"required": [
					"page",
					"limit",
					"total",
					"totalPages"
				],
				"properties": {
					"page": {
						"type": "integer",
						"minimum": 1
					},
					"limit": {
						"type": "integer",
						"minimum": 1,
						"maximum": 100
					},
					"total": {
						"type": "integer",
						"minimum": 0
					},
					"totalPages": {
						"type": "integer",
						"minimum": 0
					}
				}
			},
			"AccountsListResponse": {
				"type": "object",
				"required": [
					"accounts"
				],
				"properties": {
					"accounts": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Account"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"PostsListResponse": {
				"type": "object",
				"required": [
					"posts",
					"pagination"
				],
				"properties": {
					"posts": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ApiPost"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"LinkedInComment": {
				"type": "object",
				"description": "A comment LinkedIn holds on an organization post published through PostZen.",
				"required": [
					"id",
					"text",
					"authorUrn",
					"createdAt"
				],
				"properties": {
					"id": {
						"type": "string",
						"description": "LinkedIn's numeric comment id, unique within its thread."
					},
					"commentUrn": {
						"type": "string",
						"description": "Composite comment URN — `urn:li:comment:(<threadUrn>,<id>)` — which every comment-scoped LinkedIn endpoint takes as its path parameter. Absent when LinkedIn omits it."
					},
					"text": {
						"type": "string",
						"description": "Comment body as plain text."
					},
					"authorUrn": {
						"type": "string",
						"description": "URN of the member or organization that wrote the comment."
					},
					"authorName": {
						"type": "string",
						"description": "Display name of the author, when LinkedIn returns one."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "When the comment was created."
					},
					"likeCount": {
						"type": "integer",
						"description": "Likes on the comment, when LinkedIn returns a count."
					},
					"replyCount": {
						"type": "integer",
						"description": "Replies to the comment, when LinkedIn returns a count."
					}
				}
			},
			"LinkedInCommentsResponse": {
				"type": "object",
				"required": [
					"comments"
				],
				"properties": {
					"comments": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/LinkedInComment"
						}
					},
					"nextCursor": {
						"type": "string",
						"description": "Present when more comments are available. Pass it back as `cursor` to fetch the next page."
					}
				}
			},
			"LinkedInReaction": {
				"type": "object",
				"description": "A single reaction LinkedIn holds on an organization post published through PostZen.",
				"required": [
					"reactionType",
					"actorUrn"
				],
				"properties": {
					"reactionType": {
						"type": "string",
						"description": "LinkedIn reaction type, such as `LIKE`, `PRAISE`, `EMPATHY`, `INTEREST`, `APPRECIATION`, or `ENTERTAINMENT`. Treat this as an open set — LinkedIn adds reaction types over time."
					},
					"actorUrn": {
						"type": "string",
						"description": "URN of the member or organization that reacted."
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "When the reaction was recorded, when LinkedIn returns a timestamp."
					}
				}
			},
			"LinkedInReactionsResponse": {
				"type": "object",
				"required": [
					"reactions",
					"totalsByType"
				],
				"properties": {
					"reactions": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/LinkedInReaction"
						}
					},
					"totalsByType": {
						"type": "object",
						"description": "Reaction count keyed by reaction type, tallied from the reactions in this response. Sum the pages yourself for a whole-post total.",
						"additionalProperties": {
							"type": "integer"
						}
					},
					"nextCursor": {
						"type": "string",
						"description": "Present when more reactions are available. Pass it back as `cursor` to fetch the next page."
					}
				}
			},
			"LinkedInSocialReadErrorResponse": {
				"allOf": [
					{
						"$ref": "#/components/schemas/ErrorResponse"
					},
					{
						"type": "object",
						"required": [
							"code",
							"platform"
						],
						"properties": {
							"code": {
								"type": "string",
								"enum": [
									"notFound",
									"forbidden",
									"postNotPublished",
									"personalPostUnsupported",
									"orgScopesDisabled",
									"platformCapabilityMissing",
									"notConnected",
									"rateLimited",
									"requestFailed"
								],
								"description": "Machine-readable failure reason."
							},
							"platform": {
								"type": "string",
								"const": "linkedin"
							}
						}
					}
				]
			},
			"RateLimitError": {
				"type": "object",
				"required": [
					"error",
					"retryAfter"
				],
				"properties": {
					"error": {
						"type": "string",
						"const": "rate_limited"
					},
					"retryAfter": {
						"type": "integer",
						"minimum": 1,
						"description": "Number of seconds to wait before retrying."
					}
				}
			},
			"ConnectStartResponse": {
				"type": "object",
				"required": [
					"authUrl",
					"state"
				],
				"properties": {
					"authUrl": {
						"type": "string",
						"format": "uri",
						"description": "URL to redirect the user to for platform authorization."
					},
					"state": {
						"type": "string",
						"description": "OAuth state parameter generated by PostZen."
					}
				}
			},
			"ConnectCompleteRequest": {
				"type": "object",
				"required": [
					"code",
					"state",
					"profileId"
				],
				"properties": {
					"code": {
						"type": "string",
						"description": "OAuth authorization code returned by the platform."
					},
					"state": {
						"type": "string",
						"description": "State returned by `GET /v1/connect/{platform}`."
					},
					"profileId": {
						"type": "string",
						"description": "PostZen profile id used when the connection was initiated."
					}
				}
			},
			"ConnectCompleteResponse": {
				"type": "object",
				"required": [
					"message",
					"platform",
					"profileId",
					"status"
				],
				"properties": {
					"message": {
						"type": "string"
					},
					"platform": {
						"$ref": "#/components/schemas/PublicPlatformOutput"
					},
					"profileId": {
						"type": "string"
					},
					"status": {
						"type": "string",
						"enum": [
							"connected",
							"needsReauth"
						]
					},
					"missingScopes": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"connectedAccountCount": {
						"type": "integer",
						"minimum": 0
					},
					"accounts": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Account"
						}
					}
				}
			},
			"MediaPresignRequest": {
				"type": "object",
				"required": [
					"filename",
					"contentType"
				],
				"properties": {
					"filename": {
						"type": "string",
						"description": "Original file name. PostZen sanitizes it for storage."
					},
					"contentType": {
						"type": "string",
						"enum": [
							"image/jpeg",
							"image/jpg",
							"image/png",
							"image/webp",
							"image/gif",
							"video/mp4",
							"video/mpeg",
							"video/quicktime",
							"video/avi",
							"video/x-msvideo",
							"video/webm",
							"video/x-m4v",
							"application/pdf"
						]
					},
					"size": {
						"type": "integer",
						"minimum": 0,
						"maximum": 5368709120,
						"description": "File size in bytes."
					},
					"profileId": {
						"type": "string",
						"description": "Optional profile scope. If provided, the API key must have access to the profile."
					}
				}
			},
			"MediaPresignResponse": {
				"type": "object",
				"required": [
					"uploadUrl",
					"publicUrl",
					"key",
					"type"
				],
				"properties": {
					"uploadUrl": {
						"type": "string",
						"format": "uri",
						"description": "Use this URL for the direct file upload."
					},
					"publicUrl": {
						"type": "string",
						"format": "uri",
						"description": "Use this URL in post `mediaItems`."
					},
					"key": {
						"type": "string"
					},
					"type": {
						"type": "string",
						"enum": [
							"image",
							"video",
							"gif",
							"document"
						]
					}
				}
			},
			"CreatePostRequest": {
				"type": "object",
				"description": "Provide exactly one creation mode: `publishNow`, `scheduledFor`, or `isDraft`. `platforms` is required unless `isDraft` is true.",
				"properties": {
					"title": {
						"type": "string",
						"description": "Internal post title. YouTube uses this as the fallback video title when `settings.title` is omitted."
					},
					"content": {
						"type": "string",
						"default": "",
						"description": "Shared post text. Platform-specific validation still applies."
					},
					"mediaItems": {
						"type": "array",
						"maxItems": 10,
						"description": "Duplicate URLs are removed before the post is created.",
						"items": {
							"$ref": "#/components/schemas/PostMediaItem"
						}
					},
					"platforms": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CreatePostTarget"
						}
					},
					"scheduledFor": {
						"type": "string",
						"format": "date-time",
						"description": "ISO 8601 date for scheduled posts. Must be at least 60 seconds in the future."
					},
					"publishNow": {
						"type": "boolean",
						"description": "Publish synchronously where possible."
					},
					"isDraft": {
						"type": "boolean",
						"description": "Create a draft. `platforms` is optional for drafts."
					},
					"timezone": {
						"type": "string",
						"default": "UTC"
					},
					"tags": {
						"type": "array",
						"items": {
							"type": "string"
						}
					}
				}
			},
			"PostMediaItem": {
				"type": "object",
				"required": [
					"url"
				],
				"properties": {
					"url": {
						"type": "string",
						"format": "uri",
						"description": "PostZen-hosted `publicUrl` from `POST /v1/media/presign`, or an external image/video URL. External URLs are downloaded and re-hosted by PostZen; they must resolve to an image or video (PDF is not supported) of at most 100 MB."
					},
					"title": {
						"type": "string",
						"description": "Optional alt text/title for the media item."
					}
				}
			},
			"CreatePostTarget": {
				"type": "object",
				"required": [
					"platform",
					"accountId"
				],
				"properties": {
					"platform": {
						"$ref": "#/components/schemas/PublicPlatformInput"
					},
					"accountId": {
						"type": "string",
						"description": "PostZen account id or provider account id."
					},
					"customContent": {
						"type": "string",
						"description": "Overrides shared `content` for this platform."
					},
					"settings": {
						"$ref": "#/components/schemas/PostPlatformSettings"
					}
				}
			},
			"PostPlatformSettings": {
				"description": "Platform-specific publishing options. Unknown keys are ignored.",
				"oneOf": [
					{
						"$ref": "#/components/schemas/InstagramSettings"
					},
					{
						"$ref": "#/components/schemas/FacebookSettings"
					},
					{
						"$ref": "#/components/schemas/ThreadsSettings"
					},
					{
						"$ref": "#/components/schemas/TikTokSettings"
					},
					{
						"$ref": "#/components/schemas/LinkedInSettings"
					},
					{
						"$ref": "#/components/schemas/XSettings"
					},
					{
						"$ref": "#/components/schemas/YouTubeSettings"
					},
					{
						"$ref": "#/components/schemas/PinterestSettings"
					},
					{
						"$ref": "#/components/schemas/BlueskySettings"
					},
					{
						"$ref": "#/components/schemas/TelegramSettings"
					}
				]
			},
			"InstagramSettings": {
				"type": "object",
				"description": "Instagram target settings. `postType` selects the format: `feed` and `story` take exactly one media item, `reel` takes exactly one video, and `carousel` takes 2–10 media items (images and videos may be mixed). Captions are limited to 2,200 characters.",
				"properties": {
					"postType": {
						"type": "string",
						"enum": [
							"feed",
							"story",
							"reel",
							"carousel"
						],
						"default": "feed",
						"description": "Instagram post format. `feed` (default) and `story` publish a single media item; `reel` publishes a single video; `carousel` publishes 2–10 ordered media items and may mix images and videos. Sending multiple media items with `feed` returns a validation error directing you to `carousel`."
					},
					"collaborators": {
						"type": "array",
						"description": "Up to three Instagram usernames to invite as collaborators. Supported on feed, reel, and carousel posts.",
						"items": {
							"type": "string"
						}
					},
					"userTags": {
						"type": "array",
						"description": "Photo tags with relative `x`/`y` coordinates from 0 to 1. Feed posts only — user tags are not supported on carousels, reels, or stories.",
						"items": {
							"type": "object",
							"required": [
								"username",
								"x",
								"y"
							],
							"properties": {
								"username": {
									"type": "string"
								},
								"x": {
									"type": "number"
								},
								"y": {
									"type": "number"
								}
							}
						}
					},
					"firstComment": {
						"type": "string",
						"description": "Posts a first comment after publishing. Supported on feed, reel, and carousel posts. Maximum 2,200 characters."
					},
					"shareToFeed": {
						"type": "boolean",
						"description": "Reels only. Defaults to `true`. Set to `false` to keep the reel off the profile feed."
					}
				}
			},
			"FacebookSettings": {
				"type": "object",
				"properties": {
					"link": {
						"type": "string",
						"format": "uri"
					},
					"firstComment": {
						"type": "string"
					}
				}
			},
			"ThreadsSettings": {
				"type": "object",
				"properties": {
					"replyControl": {
						"type": "string",
						"enum": [
							"everyone",
							"accountsYouFollow",
							"mentionedOnly"
						]
					}
				}
			},
			"TikTokSettings": {
				"type": "object",
				"properties": {
					"privacyLevel": {
						"type": "string",
						"enum": [
							"publicToEveryone",
							"mutualFollowFriends",
							"followerOfCreator",
							"selfOnly"
						]
					},
					"allowComments": {
						"type": "boolean"
					},
					"allowDuet": {
						"type": "boolean"
					},
					"allowStitch": {
						"type": "boolean"
					},
					"disableComment": {
						"type": "boolean"
					},
					"disableDuet": {
						"type": "boolean"
					},
					"disableStitch": {
						"type": "boolean"
					},
					"videoCoverTimestampMs": {
						"type": "number"
					},
					"uploadAsDraft": {
						"type": "boolean"
					},
					"brandContentToggle": {
						"type": "boolean"
					},
					"brandOrganicToggle": {
						"type": "boolean"
					}
				}
			},
			"LinkedInSettings": {
				"type": "object",
				"description": "LinkedIn target settings. A LinkedIn post carries exactly one media kind: no media (text only), 1–20 images, one MP4 video, or one document (PDF/DOC/DOCX/PPT/PPTX). Commentary is limited to 3,000 characters. Every key below is also accepted in `snake_case` (for example `first_comment` and `organization_urn`).",
				"properties": {
					"visibility": {
						"type": "string",
						"enum": [
							"PUBLIC",
							"CONNECTIONS"
						],
						"default": "PUBLIC",
						"description": "Who can see the post. `CONNECTIONS` is only valid for a member (personal profile) post — combining it with `organizationUrn` is a validation error, because a company page has no connections."
					},
					"videoTitle": {
						"type": "string",
[...]
